<!-- Top Nav -->
<header id="topNav">
    <div class="container">

        <!-- Logo -->
        @*<a class="logo" href="@Url.Action("Index", "Home")">
                <img src="@Url.Content("~/Content")/images/viLogo.png" height="75" alt="" />
            </a>*@

        <!-- Mobile Menu Button -->
        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
            <i class="fa fa-bars"></i>
        </button>

        <!-- /Search -->
        <!-- Top Nav -->
        <div class="navbar-collapse nav-main-collapse collapse">
            <nav class="nav-main">

                <!--
                    NOTE

                    For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
                    Direct Link Example:

                    <li>
                        <a href="#">HOME</a>
                    </li>
                -->
                <ul id="topMain" class="nav nav-pills nav-main colored">
                    <li class="active">
                        <a href="@Url.Action("Index", "Home")">
                            TRANG CHỦ <span>home</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="shop-home-1.html#">GIỚI THIỆU <span>about us</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("AboutCompany", "Home")"><i class="fa fa-chevron-right"></i> Giới thiệu công ty</a></li>
                            <li><a href="@Url.Action("AboutVision", "Home")"><i class="fa fa-chevron-right"></i> Tầm nhìn & Sứ mệnh</a></li>
                            <li><a href="@Url.Action("AboutDevelopment", "Home")"><i class="fa fa-chevron-right"></i> Quá trình phát triển</a></li>
                            <li><a href="@Url.Action("AboutAchievements", "Home")"><i class="fa fa-chevron-right"></i> Thành tựu</a></li>
                            <li><a href="@Url.Action("AboutLicense", "Home")"><i class="fa fa-chevron-right"></i> Công ty TNHH Ngọc Thẫm</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="shop-home-1.html#">SẢN PHẨM <span>products</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("ProductList", "Home")"><i class="fa fa-chevron-right"></i> Nữ trang 18K</a></li>
                            <li><a href="@Url.Action("ProductList", "Home")"><i class="fa fa-chevron-right"></i> Nữ trang 24K</a></li>
                            <li><a href="@Url.Action("ProductList", "Home")"><i class="fa fa-chevron-right"></i> Nữ trang NTJ</a></li>
                            <li><a href="@Url.Action("ProductList", "Home")"><i class="fa fa-chevron-right"></i> Nữ trang hộp sáp</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" href="shop-home-1.html#">DỊCH VỤ <span>services</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("DiamondAssess", "Home")">Giám định kiêm cương</a></li>
                            <li><a href="@Url.Action("ColoredStonesAssess", "Home")">Giám định các loại đá màu</a></li>
                            <li><a href="@Url.Action("LaserInscription", "Home")">Khắc chữ lazer trên kim cương</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Branches", "Home")">HỆ THỐNG CHI NHÁNH <span>branches</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Catalog", "Home")">CATALOG <span>catalog</span></a>
                    </li>
                    <li>
                        <a href="@Url.Action("ShowAlbum", "Home")">ALBUM <span>album</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("News", "Home")">TIN TỨC <span>news</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("NewsFinancial", "Home")">Tin Thị Trường Vàng</a></li>
                            <li><a href="@Url.Action("NewsFinancial", "Home")">Tin Tài Chính Thế Giới</a></li>
                        </ul>
                    </li>
                    <li data-toggle="modal" data-target="#gold-rate-modal">
                        <a href="#">BẢNG GIÁ VÀNG <span>gold rates</span></a>
                    </li>

                    <li><a href="#" data-toggle="modal" data-target="#LoginModal">@*<i class="fa fa-angle-right"></i>*@Đăng Nhập <span>login</span></a></li>
                    <li><a href="#" data-toggle="modal" data-target="#RegisterModal">@*<i class="fa fa-angle-right"></i>*@Đăng Kí <span>register</span></a></li>
                    <li class="hidden-xs"><a href="shop-home-1.html#">@*<i class="fa fa-angle-right"></i>*@Liên Hệ <span>contact</span></a></li>

                </ul>

            </nav>
        </div>
        <!-- /Top Nav -->

    </div><!-- /.container -->
</header>
<!-- /Top Nav -->

<div id="TopNavBottom">
    <div class="container">
        <!-- Search -->
        <form class="search" method="get" action="http://theme.stepofweb.com/Epona/v1.0/HTML/search.html">
            <input type="text" class="form-control" name="s" value="" placeholder="Tìm Kiếm">
            <button class="fa fa-search"></button>
        </form>

        @Html.Partial("_Cart")
    </div>
</div>

<!-- Gold Rates Modal -->
<div class="modal fade" id="gold-rate-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <table class="table-stores" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td class="col1" style="text-align:center">
                                <strong>BẢNG GIÁ VÀNG</strong> <br>
                                06/08/2014 &nbsp;&nbsp; <span id="then" class="second">21:16:33</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-stores" style="width: 100%;">
                    <tbody>
                        <tr>
                            <td class="col1" style="text-align:center">
                                <strong>
                                    Mã loại vàng
                                </strong>
                            </td>
                            <td class="col2" style="text-align:center">
                                <strong>
                                    Tên loại vàng
                                </strong>
                            </td>
                            <td class="col3" style="text-align:center">
                                <strong>
                                    Giá bán
                                </strong>
                            </td>
                            <td class="col4" style="text-align:center">
                                <strong>
                                    Giá mua
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="col1">VT6</td>
                            <td class="col2">Nữ trang vàng trắng</td>
                            <td class="col3" style="text-align:right">2.390.000 VND</td>
                            <td class="col4" style="text-align:center">2.310.000 VND</td>
                        </tr>
                        <tr class="even">
                            <td class="col1">18k75</td>
                            <td class="col2">Nữ trang 18k75%</td>
                            <td class="col3" style="text-align:right">2.390.000 VND</td>
                            <td class="col4" style="text-align:center">2.310.000 VND</td>
                        </tr>
                        <tr>
                            <td class="col1">18k70</td>
                            <td class="col2">Nữ trang 18k70%</td>
                            <td class="col3" style="text-align:right">2.231.000 VND</td>
                            <td class="col4" style="text-align:center">2.151.000 VND</td>
                        </tr>
                        <tr class="even">
                            <td class="col1">SJCLe</td>
                            <td class="col2">SJC 5 chỉ, 2 chỉ, 1 chỉ, 5 phân</td>
                            <td class="col3" style="text-align:right">3.688.000 VND</td>
                            <td class="col4" style="text-align:center">3.600.000 VND</td>
                        </tr>
                        <tr>
                            <td class="col1">SJC</td>
                            <td class="col2">SJC</td>
                            <td class="col3" style="text-align:right">3.668.000 VND</td>
                            <td class="col4" style="text-align:center">3.600.000 VND</td>
                        </tr>
                        <tr class="even">
                            <td class="col1">24K</td>
                            <td class="col2">Nữ trang 24k</td>
                            <td class="col3" style="text-align:right">3.265.000 VND</td>
                            <td class="col4" style="text-align:center">3.220.000 VND</td>
                        </tr>
                        <tr>
                            <td class="col1">N24k</td>
                            <td class="col2">Nhẩn 24k</td>
                            <td class="col3" style="text-align:right">3.265.000 VND</td>
                            <td class="col4" style="text-align:center">3.220.000 VND</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>