<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="Author" content="" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href='@Url.Content("~/Content")/images/favicon.png' />


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Script/js/modernize")
    <link href="@Url.Content("~/Content/css/default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/supported.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)

    <!--[if lte IE 8]>
        @Scripts.Render("~/Script/js/ie8")
        <script src="@Url.Content("~/Content")/plugins/respond.js"></script>
    <![endif]-->
</head>

<body class="smoothscroll">
    <!-- Default Modal For All Pages -->
    @Html.Partial("_Modal")

    <!-- Additional Modals -->
    @RenderSection("Modal", false)

    <div id="wrapper">

        <div id="header">
            <!-- class="sticky" for sticky menu -->
            @Html.Partial("_TopBar")

            @Html.Partial("_Menu")

        </div>
        @RenderSection("PageTitle", false)
        @RenderSection("Slide", false)

        <!-- CONTENT -->
        <section>
            <div class="container">
                @RenderBody()
            </div>
        </section>
        <!-- /CONTENT -->
        @Html.Partial("_Footer")

        <a href="shop-home-1.html#" id="toTop"></a>

    </div><!-- /#wrapper -->

    <div class="ab_support">
        <a id="ab_support" href="javascript:void(0)"></a>
        <div class="support_chat">
            <span class="sp_title">Hỗ trợ trực tuyến</span><span class="sp_phone">08.3995.9336</span>
            <div class="support_info">
                <ul>
                    <li class="sp_left"><a href="ymsgr:sendIM?hagolden99"><img src="http://opi.yahoo.com/online?u=hagolden99&amp;m=g&amp;t=1"> </a> Hỗ trợ 1</li>
                    <li class="sp_right"><a href="ymsgr:sendIM?ntthang1988"><img src="http://opi.yahoo.com/online?u=ntthang1988&amp;m=g&amp;t=1">  </a> Hỗ trợ 2</li>
                    <li class="sp_left"><a href="skype:honganhdo9?chat"><img src="http://mystatus.skype.com/bigclassic/honganhdo9">  </a> Hỗ trợ 3</li>
                    <li class="sp_right"><a href="skype:selina_nguyenhang?chat"><img src="http://mystatus.skype.com/bigclassic/selina_nguyenhang">  </a> Hỗ trợ 4</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT FILES -->
    @Scripts.Render("~/Script/js")
    @RenderSection("Scripts", false)
</body>
</html>