<!--
            OWL SLIDER

            Note: 'cover' class = if background image used!
            Nice backgrounds:
                @Url.Content("~/Content")/images/demo/layerslider/slide-b-bg.jpg
                @Url.Content("~/Content")/images/demo/layerslider/bg4.jpg
                @Url.Content("~/Content")/images/demo/layerslider/slide-b-1.png
        -->
<div class="slider cover" style="background-image:url('@Url.Content("~/Content")/images/slide/05.jpg')">


        <!-- add class "controlls-over" if you need the button controlls over the image -->
        <div class="owl-carousel controlls-over controls-hover-only" data-plugin-options='{"stopOnHover":false, "slideSpeed":1500, "autoPlay":3000, "items": 1, "autoHeight": false, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
            <!-- transitionStyle: fade, backSlide, goDown, fadeUp,  -->
            <div class="text-center">
                <img alt="" class="img-responsive img-slide" src="@Url.Content("~/Content")/images/products/sp1.png" />
            </div>
            <div class="text-center">
                <img alt="" class="img-responsive img-slide" src="@Url.Content("~/Content")/images/products/sp3.png" />
            </div>
            <div class="text-center">
                <img alt="" class="img-responsive img-slide" src="@Url.Content("~/Content")/images/products/sp5.png" @*width="1024" height="400"*@ />
            </div>
        </div>



</div>
<!-- /OWL SLIDER -->

