@model IEnumerable<W_GJS.Models.O_PRODUCT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT_TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT_CONTENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORY_PRODUCT_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAG_ALT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATEDATE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT_CD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT_TITLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT_CONTENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY_PRODUCT_CD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUANTITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAG_ALT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATEDATE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @if (item.ACTIVE == false)
            {
                @Html.ActionLink("Active", "Active", new { PRODUCT_CD = item.PRODUCT_CD })
            }
            else
            {
                @Html.ActionLink("Deactive", "Deactive", new { PRODUCT_CD = item.PRODUCT_CD })
            }
        </td>
    </tr>
}

</table>
