@model W_GJS.Models.M_PAGE

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Sửa</h4>
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.PAGE_COTRACT_TITLE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PAGE_COTRACT_TITLE)
                @Html.ValidationMessageFor(model => model.PAGE_COTRACT_TITLE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PAGE_COTRACT_CONTENT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PAGE_COTRACT_CONTENT)
                @Html.ValidationMessageFor(model => model.PAGE_COTRACT_CONTENT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.O_CATEGORY_PAGE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.O_CATEGORY_PAGE)
                @Html.ValidationMessageFor(model => model.O_CATEGORY_PAGE)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
