@model IEnumerable<W_GJS.Models.O_ORDER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

<h2>Danh sách</h2>

@*<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ORDER_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDER_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.O_CUSTOMER.CUSTOMER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DELIVERY_ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATEDATE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ORDER_CD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORDER_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O_CUSTOMER.CUSTOMER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DELIVERY_ADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATEDATE)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
            @if (item.ACTIVE == false)
            {
                @Html.ActionLink("Active", "Active", new { ORDER_CD = item.ORDER_CD })
            }
            else
            {
                @Html.ActionLink("Deactive", "Deactive", new { ORDER_CD = item.ORDER_CD })
            }
        </td>
    </tr>
}

</table>
