@model IEnumerable<W_GJS.Models.O_CATEGORY_GRANULES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORY_GRANULES_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORY_GRANULES_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORY_GRANULES_WEIGHT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY_GRANULES_CD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY_GRANULES_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY_GRANULES_WEIGHT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVE)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
