@model W_GJS.Models.O_PRODUCT

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

<h2>Thêm</h2>


@using (Html.BeginForm("Create", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Thêm</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PRODUCT_CODE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PRODUCT_CODE)
                @Html.ValidationMessageFor(model => model.PRODUCT_CODE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PRODUCT_NAME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PRODUCT_NAME)
                @Html.ValidationMessageFor(model => model.PRODUCT_NAME)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PRODUCT_CONTENT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PRODUCT_CONTENT)
                @Html.ValidationMessageFor(model => model.PRODUCT_CONTENT)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PRODUCT_TITLE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PRODUCT_TITLE)
                @Html.ValidationMessageFor(model => model.PRODUCT_TITLE)
            </div>
        </div> 
        <div class="form-group">
            @Html.LabelFor(model => model.WEIGHT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WEIGHT)
                @Html.ValidationMessageFor(model => model.WEIGHT)
            </div>
        </div> 
        <div class="form-group">
            @Html.LabelFor(model => model.QUANTITY, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QUANTITY)
                @Html.ValidationMessageFor(model => model.QUANTITY)
            </div>
        </div>      
        <div class="form-group">
            @Html.LabelFor(model => model.PRICE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PRICE)
                @Html.ValidationMessageFor(model => model.PRICE)
            </div>
        </div> 
        <div class="form-group">
            @Html.LabelFor(model => model.PRICE_PROMOTION, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PRICE_PROMOTION)
                @Html.ValidationMessageFor(model => model.PRICE_PROMOTION)
            </div>
        </div> 
        <div class="form-group">
            @Html.LabelFor(model => model.WAGES, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WAGES)
                @Html.ValidationMessageFor(model => model.WAGES)
            </div>
        </div> 
        <div class="form-group">
            @Html.LabelFor(model => model.CURRENCY, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CURRENCY)
                @Html.ValidationMessageFor(model => model.CURRENCY)
            </div>
        </div> 
 
        <div class="form-group">
            @Html.LabelFor(model => model.SIZE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SIZE)
                @Html.ValidationMessageFor(model => model.SIZE)
            </div>
        </div> 
        <div class="form-group">
            @Html.LabelFor(model => model.URL_IMAGE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.URL_IMAGE)
                @Html.ValidationMessageFor(model => model.URL_IMAGE)
            </div>
        </div> 
        <div class="form-group">
            <label class="control-label col-md-2">Hình ảnh chi tiết 1</label>
            <div class="col-md-10">
                <input type="text" name="file1" id="file1" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Hình ảnh chi tiết 2</label>
            <div class="col-md-10">
                <input type="text" name="file2" id="file2" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Hình ảnh chi tiết 3</label>

            <div class="col-md-10">
                <input type="text" name="file3" id="file3" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Hình ảnh chi tiết 4</label>

            <div class="col-md-10">
                <input type="text" name="file4" id="file4" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Hình ảnh chi tiết 5</label>

            <div class="col-md-10">
                <input type="text" name="file5" id="file5" />
            </div>
        </div>     
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Thêm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
