@model IEnumerable<W_GJS.Models.O_NEWS>
@{
    ViewBag.Title = "Category_News";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
    W_GJS.Models.GJSEntities gjs = new W_GJS.Models.GJSEntities();
    List<W_GJS.Models.O_NEWS_HIGHLIGHTS> listNews_Hight_Light = gjs.O_NEWS_HIGHLIGHTS.Where(t => t.ACTIVE == true).ToList();
    
}

@section Styles {
    <link href="@Url.Content("~/Self/news/css/mainstyles.css")" rel="stylesheet" type="text/css" />
}


<h2 class="owl-featured"><strong>@Model.ToList()[0].O_CATEGORY_NEWS.CATEGORY_NEWS_NAME</strong></h2>
<div class="wrapper" align="center">
    <div id="content" style="margin-top:40px;">
        <!-- InstanceBeginEditable name="ContentThongTin" -->
        <div id="leftpanel_thongtin">
            <div class="enter">
            </div>
            <div id="contentTinTuc">
                @foreach (var item in Model)
                {
                      <div class="imghomenews"> <img width="300" src="@item.IMAGE_NEWS" align=""> </div>
                    <div id="tintuc_home_copy" style="width:260px">
                    <h4><a href="@Url.Action("NewsDetail", new { NEWS_CD = item.NEWS_CD })">@item.NEWS_TITLE</a></h4>
                    @item.NEW_DESCRIPTIONS<br>
                    <div align="right"><a href="@Url.Action("NewsDetail", new { NEWS_CD = item.NEWS_CD })">Xem thêm</a></div>
                   </div><div class="enter"><br> <hr noshade="noshade" width="90%"></div>

                }
              
               

            </div>
        </div>
        <div id="rightpanel_thongtin">
            <div id="thongtin_panel">
                <div id="newsvideo">
                    <div id="newsvideocontent">
                        <div id="videokhac">
                            <h5 class="title-highlight-news">TIN TỨC NỔI BẬT</h5>
                            <ul>
                                @foreach (var item in listNews_Hight_Light)
                                {
                                    <li><a href="@Url.Action("NewsDetail", new { NEWS_CD = item.NEWS_CD })">@item.O_NEWS.NEWS_TITLE (@String.Format("{0:dd/MM/yyy}", @item.O_NEWS.CREATEDATE))</a></li>

                                }
                               </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable -->
    </div>
    <div class="enter"> </div>
</div>

