@{
    ViewBag.Title = "Trang Chủ";
    Layout = null;

}

<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
@{
    W_GJS.Models.GJSEntities gjs = new W_GJS.Models.GJSEntities();
    W_GJS.Models.O_SEO seo = gjs.O_SEO.Single(t => t.CD == 1);
    W_GJS.Models.M_PAGE popup = gjs.M_PAGE.Single(t => t.PAGE_COTRACT_CD == 9);
    W_GJS.Models.M_PAGE content = gjs.M_PAGE.Single(t => t.PAGE_COTRACT_CD == 11);
    List<W_GJS.Models.O_CATEGORY_PRODUCT> listCategoryProduct = gjs.O_CATEGORY_PRODUCT.Where(t => t.ACTIVE == true).ToList();

    List<W_GJS.Models.O_PRODUCT_HIGHLIGHTS> listproduct_hightlights = gjs.O_PRODUCT_HIGHLIGHTS.Where(t => t.O_PRODUCT.ACTIVE == true && t.O_PRODUCT.STATUS == 1).ToList();
    List<W_GJS.Models.O_NEWS_NEW> listNews_NEW = gjs.O_NEWS_NEW.Where(t => t.ACTIVE == true).ToList();
    List<W_GJS.Models.O_HOME_GROUP_PHOTO> listGroup = gjs.O_HOME_GROUP_PHOTO.Where(t => t.ACTIVE == true).ToList();
    List<W_GJS.Models.O_HOME_INTRODUCTION> listIntrodution = gjs.O_HOME_INTRODUCTION.Where(t => t.ACTIVE == true).ToList();

}
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@seo.TITILE</title>
    <meta name="keywords" content="@seo.META_KEYWORDS" />
    <meta name="description" content="@seo.META_DES" />
    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href='@Url.Content("~/Content")/images/favicon.png' />


    @*@Styles.Render("~/Content/css")*@
    @*<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700&subset=latin,vietnamese' rel='stylesheet' type='text/css'>*@
    <link href="@Url.Content("~/Content/css/fonts.googleapis.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/css/flare/prettify.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/font-awesome.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/sky-forms.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/weather-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/line-icons.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/Content/plugins/owl-carousel/owl.pack.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/plugins/owl-carousel-latest/owl.carousel.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/owl-carousel-latest/owl.theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/owl-carousel-latest/owl.transitions.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/plugins/magnific-popup/magnific-popup.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/animate.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/flexslider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/revolution-slider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/layerslider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/layout-shop.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/essentials.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/layout.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/header-3.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/footer-default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/color_scheme/red.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Content/plugins/modernizr.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/jquery-2.1.1.min.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Content/css/default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/supported.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/responsive768.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/responsive568.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/responsive480.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/responsive320.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/nh/css/style218.css")" rel="stylesheet" type="text/css" />

    <!--[if lte IE 8]>
        <script src="@Url.Content("~/Scripts/respond.js")" type="text/javascript"></script>
    <![endif]-->
</head>

<body class="smoothscroll">
    <!-- Default Modal For All Pages -->
    @Html.Partial("_Modal")

    <div id="wrapper">
        @*@ViewContext.Controller.ValueProvider.GetValue("controller").RawValue -
            @ViewContext.Controller.ValueProvider.GetValue("action").RawValue*@
        @Html.Partial("_TopBar")
        @*@RenderSection("Slide", false)*@

        @Html.Partial("_Slide")

        <div id="header">


            @Html.Partial("_Menu")

        </div>

        <!-- CONTENT -->


        <div class="container">
            <div id="slideWel">
                <div id="welcome">
                    @foreach (var item in listIntrodution)
                    {
                        <div class="welBox">
                            <div class="left">
                                <p>@Html.Raw(item.O_HOME_INTRODUCTION_CONTENT)</p>
                                <h1>Người thực hiện  <a href="#" target="_blank">@item.O_HOME_INTRODUCTION_AUTHOR</a></h1>
                            </div><!--end left-->
                            <div class="right">
                                <li style='background-image:url("@item.O_HOME_INTRODUCTION_PHOTO");'></li>
                                <label></label>
                            </div><!--end right-->
                        </div><!--end welBox-->
                    }


                </div><!--end welcome-->
                <div class="pagiWel"></div>
                <span id="angleWel">angleWel</span>
                <div class="clr"></div>
                <script type="text/javascript">
                    jQuery(document).ready(function () {
                        var $welcome = $('#welcome');
                        $welcome.imagesLoaded(function () {
                            $("#welcome").carouFredSel({
                                circular: false,
                                infinite: true,
                                responsive: true,
                                pagination: '.pagiWel',
                                auto: { pauseDuration: 5000, pauseOnHover: true, duration: 1000 },
                                scroll: { fx: "crossfade", items: "page", },
                                prev: false,
                                next: false,
                                swipe: { onMouse: true, onTouch: true },
                                items: {
                                    height: "variable",
                                    visible: { min: 1, max: 1 }
                                }
                            });
                        });
                    });
                </script>
            </div><!--end slideWel-->
            <div id="homeAlbumMain">
                <div id="albumDesc">
                    <div class="navBox" id="homeAlbumNav"><a href="#" class="prev">Quay về</a><a href="#" class="next">Tiếp theo</a></div>
                    <ul>
                        <h1><a href="#">Giới thiệu.</a></h1>
                        <p>@Html.Raw(content.PAGE_COTRACT_CONTENT)</p>

                    </ul>

                </div><!--end albumDesc-->
                <div id="homeAlbum">
                    <div class="homeAlbum">
                        @foreach (var item in listGroup)
                        {
                            <ul>

                                <li style='background-image:url("@item.PHOTO_URL_1");' class='first'>
                                    <ul>
                                        <img src='@item.PHOTO_URL_1' />
                                    </ul>
                                </li>
                                <li style='background-image: url("@item.PHOTO_URL_2");'>
                                    <ul>
                                        <img src='@item.PHOTO_URL_2' />
                                    </ul>
                                </li>
                                <li style='background-image: url("@item.PHOTO_URL_3");'>
                                    <ul>
                                        <img src='@item.PHOTO_URL_3' />
                                    </ul>
                                </li>
                                <li style='background-image: url("@item.PHOTO_URL_4");'>
                                    <ul>
                                        <img src='@item.PHOTO_URL_4' />
                                    </ul>
                                </li>
                                <li style='background-image: url("@item.PHOTO_URL_5");'>
                                    <ul>
                                        <img src='@item.PHOTO_URL_5' />
                                    </ul>
                                </li>
                                <li style='background-image: url("@item.PHOTO_URL_6");'>
                                    <ul>
                                        <img src='@item.PHOTO_URL_6' />
                                    </ul>
                                </li>
                            </ul>
                        }

                    </div><!--end .homeAlbum-->
                    <div class="clr"></div>
                    <script type="text/javascript">
                        jQuery(document).ready(function () {
                            var $homeAlbum = $('.homeAlbum');
                            $homeAlbum.imagesLoaded(function () {
                                $(".homeAlbum").carouFredSel({
                                    circular: true,
                                    infinite: true,
                                    responsive: true,
                                    auto: { pauseDuration: 6000, pauseOnHover: true, duration: 1000 },
                                    scroll: { fx: "crossfade", items: "page", duration: 1000 },
                                    prev: "#homeAlbumNav .prev",
                                    next: "#homeAlbumNav .next",
                                    swipe: { onMouse: true, onTouch: true },
                                    items: {
                                        height: "variable",
                                        visible: { min: 1, max: 1 }
                                    }
                                });
                            });
                        });
                    </script>
                </div><!--end homeAlbum-->
                <div class="clr"></div>
            </div><!--end homeAlbumMain-->


            <div id="homeNewsMain">
                <div class="titleBox">
                    <h1><a href="ngochuyphoto_default_2.html#">TIN TỨC & SỰ KIỆN CƯỚI.</a></h1>
                    <div class="navBox" id="homeNewsNav"><a href="ngochuyphoto_default_2.html#" class="prev">Prev</a><a href="ngochuyphoto_default_2.html#" class="next">Next</a></div>
                    <a href="tin-tuc.htm" class="viewmore">Xem tất cả</a>
                    <div class="clr"></div>
                </div><!--end titleBox-->
                <div id="homeNews">
                    <ul class="homeNews">
                        <li class='oneNews'>
                            <ul class='desc'>
                                <h1><a href='album-cuoi-phong-cach-han-quoc-chup-ngay-tai-studio-snw.htm' title='Album cưới phong cách Hàn Quốc chụp ngay tại Studio'>Album cưới phong cách Hàn Quốc chụp ngay tại Studio</a></h1>
                                <p>Với không gian thiết kế lãng mạn Ngọc Huy sẽ đem đến cho các uyên ương những album cưới theo phong cách Hàn Quốc đặc trưng nhất.</p>
                            </ul>
                            <ul class='thumb' style='background-image:url(http://ngochuyphoto.com/multidata/album-cuoi-phong-cach-han-quoc-chuptai-studio-5.jpg);'>
                                <img src='multidata/album-cuoi-phong-cach-han-quoc-chuptai-studio-5.jpg' width='300' alt='Album cưới phong cách Hàn Quốc chụp ngay tại Studio' />
                                <span>
                                    <li><a href='album-cuoi-phong-cach-han-quoc-tags-snpw.htm'>album cưới phong cách Hàn Quốc</a>, <a href='chup-hinh-cuoi-han-quoc-tags-snpw.htm'>chụp hình cưới Hàn Quốc</a>, <a href='chup-hinh-cuoi-studio-tags-snpw.htm'>chụp hình cưới studio</a>, <a href='studio-ngoc-huy-tags-snpw.htm'>studio Ngọc Huy</a></li>
                                    <a href='album-cuoi-phong-cach-han-quoc-chup-ngay-tai-studio-snw.htm' class='icon view' title='Xem chi tiết'></a>
                                    <a href='album-cuoi-phong-cach-han-quoc-chup-ngay-tai-studio-spv.htm' class='icon fancybox.ajax zoom' title='Xem nhanh'></a>
                                </span>
                            </ul>
                        </li>
                        <li class='oneNews'>
                            <ul class='desc'>
                                <h1><a href='ghi-dau-khoanh-khac-dep-voi-ngoc-huy-studio-snw.htm' title='Ghi dấu khoảnh khắc đẹp với Ngọc Huy Studio'>Ghi dấu khoảnh khắc đẹp với Ngọc Huy Studio</a></h1>
                                <p>Ngọc Huy Studio luôn phấn đấu không ngừng trên con đường nghệ thuật, sáng tạo ra những hình ảnh đẹp, đánh dấu một mốc son quan trọng.</p>
                            </ul>
                            <ul class='thumb' style='background-image:url(http://ngochuyphoto.com/multidata/ghi-dau-khoang-khac-dep-voi-ngoc-huy-studio-01.jpg);'>
                                <img src='multidata/ghi-dau-khoang-khac-dep-voi-ngoc-huy-studio-01.jpg' width='300' alt='Ghi dấu khoảnh khắc đẹp với Ngọc Huy Studio' />
                                <span>
                                    <li><a href='ngoc-huy-studio-tags-snpw.htm'>Ngọc Huy Studio</a>, <a href='ngoc-huy-tags-snpw.htm'>Ngọc Huy</a>, <a href='nhiep-anh-tags-snpw.htm'>nhiếp ảnh</a>, <a href='chup-hinh-cuoi-tags-snpw.htm'>chụp hình cưới</a>, <a href='chup-hinh-cuoi-tags-snpw.htm'>chup hinh cuoi</a>, <a href='chup-hinh-cuoi-sai-gon-tags-snpw.htm'>chup hinh cuoi sai gon</a>, <a href='chup-hinh-cuoi-dep-tags-snpw.htm'>chụp hình cưới đẹp</a></li>
                                    <a href='ghi-dau-khoanh-khac-dep-voi-ngoc-huy-studio-snw.htm' class='icon view' title='Xem chi tiết'></a>
                                    <a href='ghi-dau-khoanh-khac-dep-voi-ngoc-huy-studio-spv.htm' class='icon fancybox.ajax zoom' title='Xem nhanh'></a>
                                </span>
                            </ul>
                        </li>
                        <li class='oneNews'>
                            <ul class='desc'>
                                <h1><a href='tong-hop-mau-giay-cuoi-dep-2014-snw.htm' title='Tổng hợp mẫu giày cưới đẹp 2014'>Tổng hợp mẫu giày cưới đẹp 2014</a></h1>
                                <p>Những tuyệt phẩm giày cưới 2014 dưới đây chắc chẳn sẽ khiến các cô dâu "lặng người" trước vẻ đẹp lãng mạn và chắc hẳn ai cũng muốn sở hữu.</p>
                            </ul>
                            <ul class='thumb' style='background-image:url(http://ngochuyphoto.com/multidata/tong-hop-mau-giay-cuoi-dep-2014-01.jpg);'>
                                <img src='multidata/tong-hop-mau-giay-cuoi-dep-2014-01.jpg' width='300' alt='Tổng hợp mẫu giày cưới đẹp 2014' />
                                <span>
                                    <li><a href='giay-cuoi-2014-tags-snpw.htm'>giày cưới 2014</a>, <a href='giay-cuoi-dep-2014-tags-snpw.htm'>giày cưới đẹp 2014</a>, <a href='giay-cuoi-2014-tags-snpw.htm'>giay cuoi 2014</a>, <a href='giay-co-dau-tags-snpw.htm'>giày cô dâu</a>, <a href='giay-dep-tags-snpw.htm'>giày đẹp</a></li>
                                    <a href='tong-hop-mau-giay-cuoi-dep-2014-snw.htm' class='icon view' title='Xem chi tiết'></a>
                                    <a href='tong-hop-mau-giay-cuoi-dep-2014-spv.htm' class='icon fancybox.ajax zoom' title='Xem nhanh'></a>
                                </span>
                            </ul>
                        </li>
                        <li class='oneNews'>
                            <ul class='desc'>
                                <h1><a href='luu-y-de-co-bo-anh-cuoi-bien-dep-tu-nhien-snw.htm' title='Lưu ý để có bộ ảnh cưới biển đẹp tự nhiên'>Lưu ý để có bộ ảnh cưới biển đẹp tự nhiên</a></h1>
                                <p>Để bộ ảnh cưới ở biển đẹp tự nhiên, cô dâu chú rể nên lưu ý chọn thời điểm và trang phục phù hợp. </p>
                            </ul>
                            <ul class='thumb' style='background-image:url(http://ngochuyphoto.com/multidata/luu-y-de-co-bo-anh-cuoi-bien-dep-tu-nhien-00.jpg);'>
                                <img src='multidata/luu-y-de-co-bo-anh-cuoi-bien-dep-tu-nhien-00.jpg' width='300' alt='Lưu ý để có bộ ảnh cưới biển đẹp tự nhiên' />
                                <span>
                                    <li><a href='anh-cuoi-bien-tags-snpw.htm'>ảnh cưới biển</a>, <a href='anh-cuoi-bien-tags-snpw.htm'>anh cuoi bien</a>, <a href='anh-cuoi-bien-dep-tags-snpw.htm'>ảnh cưới biển đẹp</a>, <a href='chup-anh-cuoi-o-bien-tags-snpw.htm'>chụp ảnh cưới ở biển</a>, <a href='anh-cuoi-dep-tu-nhien-tags-snpw.htm'>ảnh cưới đẹp tự nhiên</a>, <a href='chup-hinh-cuoi-bien-tags-snpw.htm'>chụp hình cưới biển</a></li>
                                    <a href='luu-y-de-co-bo-anh-cuoi-bien-dep-tu-nhien-snw.htm' class='icon view' title='Xem chi tiết'></a>
                                    <a href='luu-y-de-co-bo-anh-cuoi-bien-dep-tu-nhien-spv.htm' class='icon fancybox.ajax zoom' title='Xem nhanh'></a>
                                </span>
                            </ul>
                        </li>
                        <li class='oneNews'>
                            <ul class='desc'>
                                <h1><a href='top-10-miss-ngoi-sao-thanh-nhan-lung-linh-trong-bo-anh-cuoi-snw.htm' title='Top 10 Miss Ngôi Sao Thanh Nhàn lung linh trong bộ ảnh cưới'>Top 10 Miss Ngôi Sao Thanh Nhàn lung linh trong bộ ảnh cưới</a></h1>
                                <p>Rạng rỡ trong ngày vui, cô dâu xinh xắn với những chiếc váy trắng nhẹ nhàng tươi tắn bên cạnh chú rể chỉnh chu và thanh lịch.</p>
                            </ul>
                            <ul class='thumb' style='background-image:url(http://ngochuyphoto.com/multidata/top-10-miss-ngoi-sao-lung-linh-trong-bo-anh-cuoi-01.jpg);'>
                                <img src='multidata/top-10-miss-ngoi-sao-lung-linh-trong-bo-anh-cuoi-01.jpg' width='300' alt='Top 10 Miss Ngôi Sao Thanh Nhàn lung linh trong bộ ảnh cưới' />
                                <span>
                                    <li><a href='top-10-miss-ngoi-sao-tags-snpw.htm'>top 10 Miss Ngôi Sao</a>, <a href='thanh-nhan-tags-snpw.htm'>Thanh Nhàn</a>, <a href='miss-ngoi-sao-tags-snpw.htm'>Miss Ngôi Sao</a>, <a href='bo-anh-cuoi-tags-snpw.htm'>bộ ảnh cưới</a>, <a href='anh-cuoi-dep-tags-snpw.htm'>ảnh cưới đẹp</a>, <a href='ngoc-huy-studio-tags-snpw.htm'>Ngọc Huy Studio</a></li>
                                    <a href='top-10-miss-ngoi-sao-thanh-nhan-lung-linh-trong-bo-anh-cuoi-snw.htm' class='icon view' title='Xem chi tiết'></a>
                                    <a href='top-10-miss-ngoi-sao-thanh-nhan-lung-linh-trong-bo-anh-cuoi-spv.htm' class='icon fancybox.ajax zoom' title='Xem nhanh'></a>
                                </span>
                            </ul>
                        </li>
                        <li class='oneNews'>
                            <ul class='desc'>
                                <h1><a href='huong-dan-cach-bo-hoa-cuoi-tu-nhien-snw.htm' title='Hướng dẫn cách bó hoa cưới tự nhiên'>Hướng dẫn cách bó hoa cưới tự nhiên</a></h1>
                                <p>Thay vì tìm đến dịch vụ cung cấp hoa cưới chuyên nghiệp thì cô dâu hoàn toàn có thể tự mình bó hoa cầm tay cho chính bản thân một cách đơn giản nhé.</p>
                            </ul>
                            <ul class='thumb' style='background-image:url(http://ngochuyphoto.com/multidata/huong-dan-cach-bo-hoa-cuoi-tu-nhien-01.jpg);'>
                                <img src='multidata/huong-dan-cach-bo-hoa-cuoi-tu-nhien-01.jpg' width='300' alt='Hướng dẫn cách bó hoa cưới tự nhiên' />
                                <span>
                                    <li><a href='tu-bo-hoa-cuoi-tags-snpw.htm'>tự bó hoa cưới</a>, <a href='tu-bo-hoa-cuoi-tags-snpw.htm'>tu bo hoa cuoi</a>, <a href='tu-lam-hoa-cuoi-tags-snpw.htm'>tự làm hoa cưới</a>, <a href='huong-dan-bo-hoa-cuoi-tags-snpw.htm'>hướng dẫn bó hoa cưới</a>, <a href='hoa-cuoi-tu-nhien-tags-snpw.htm'>hoa cưới tự nhiên</a>, <a href='hoa-cuoi-2014-tags-snpw.htm'>hoa cưới 2014</a>, <a href='bo-hoa-cuoi-tu-nhien-tags-snpw.htm'>bo hoa cuoi tu nhien</a>, <a href='cach-bo-hoa-cuoi-tags-snpw.htm'>cách bó hoa cưới</a></li>
                                    <a href='huong-dan-cach-bo-hoa-cuoi-tu-nhien-snw.htm' class='icon view' title='Xem chi tiết'></a>
                                    <a href='huong-dan-cach-bo-hoa-cuoi-tu-nhien-spv.htm' class='icon fancybox.ajax zoom' title='Xem nhanh'></a>
                                </span>
                            </ul>
                        </li>
                        <li class='oneNews'>
                            <ul class='desc'>
                                <h1><a href='bi-quyet-mac-ao-cuoi-ho-lung-dep-snw.htm' title='Bí quyết mặc áo cưới hở lưng đẹp'>Bí quyết mặc áo cưới hở lưng đẹp</a></h1>
                                <p>Với dáng áo cưới hở lưng, cô dâu nên tránh để tóc xõa tự nhiên, che đi các nét đẹp của cơ thể cũng như điểm nhấn độc đáo của chiếc váy.</p>
                            </ul>
                            <ul class='thumb' style='background-image:url(http://ngochuyphoto.com/multidata/bi-quyet-mac-ao-cuoi-ho-lung-dep-01.jpg);'>
                                <img src='multidata/bi-quyet-mac-ao-cuoi-ho-lung-dep-01.jpg' width='300' alt='Bí quyết mặc áo cưới hở lưng đẹp' />
                                <span>
                                    <li><a href='ao-cuoi-ho-lung-tags-snpw.htm'>áo cưới hở lưng</a>, <a href='ao-cuoi-ho-lung-tags-snpw.htm'>ao cuoi ho lung</a>, <a href='mac-ao-cuoi-ho-lung-dep-tags-snpw.htm'>mặc áo cưới hở lưng đẹp</a>, <a href='bi-quyet-mac-ao-cuoi-dep-tags-snpw.htm'>bí quyết mặc áo cưới đẹp</a>, <a href='ao-cuoi-khoe-lung-tags-snpw.htm'>áo cưới khoe lưng</a>, <a href='ao-cuoi-goi-cam-tags-snpw.htm'>áo cưới gợi cảm</a>, <a href='ao-cuoi-dep-tags-snpw.htm'>áo cưới đẹp</a>, <a href='ao-cuoi-dep-tags-snpw.htm'>ao cuoi dep</a></li>
                                    <a href='bi-quyet-mac-ao-cuoi-ho-lung-dep-snw.htm' class='icon view' title='Xem chi tiết'></a>
                                    <a href='bi-quyet-mac-ao-cuoi-ho-lung-dep-spv.htm' class='icon fancybox.ajax zoom' title='Xem nhanh'></a>
                                </span>
                            </ul>
                        </li>
                        <li class='oneNews'>
                            <ul class='desc'>
                                <h1><a href='mua-cuoi-2014-ao-cuoi-vai-ngang-len-ngoi-snw.htm' title='Mùa cưới 2014 - Áo cưới vai ngang lên ngôi'>Mùa cưới 2014 - Áo cưới vai ngang lên ngôi</a></h1>
                                <p>Áo cưới vai ngang luôn là một trong những kiểu dáng được đông đảo các cô dâu yêu thích bởi nét đẹp nửa kín nửa hở đầy gợi cảm của nó.</p>
                            </ul>
                            <ul class='thumb' style='background-image:url(http://ngochuyphoto.com/multidata/mua-cuoi-2014-ao-cuoi-vai-ngang-len-ngoi-01.jpg);'>
                                <img src='multidata/mua-cuoi-2014-ao-cuoi-vai-ngang-len-ngoi-01.jpg' width='300' alt='Mùa cưới 2014 - Áo cưới vai ngang lên ngôi' />
                                <span>
                                    <li><a href='ao-cuoi-vai-ngang-tags-snpw.htm'>áo cưới vai ngang</a>, <a href='ao-cuoi-vai-ngang-tags-snpw.htm'>ao cuoi vai ngang</a>, <a href='ao-cuoi-tre-vai-tags-snpw.htm'>áo cưới trễ vai</a>, <a href='ao-cuoi-tre-vai-tags-snpw.htm'>ao cuoi tre vai</a>, <a href='ao-cuoi-dep-2014-tags-snpw.htm'>áo cưới đẹp 2014</a>, <a href='xu-huong-ao-cuoi-tags-snpw.htm'>xu hướng áo cưới</a>, <a href='ao-cuoi-dep-tags-snpw.htm'>ao cuoi dep</a></li>
                                    <a href='mua-cuoi-2014-ao-cuoi-vai-ngang-len-ngoi-snw.htm' class='icon view' title='Xem chi tiết'></a>
                                    <a href='mua-cuoi-2014-ao-cuoi-vai-ngang-len-ngoi-spv.htm' class='icon fancybox.ajax zoom' title='Xem nhanh'></a>
                                </span>
                            </ul>
                        </li>
                    </ul><!--end .homeNews-->
                </div><!--end homeNews-->
                <div class="clr"></div>
                <script type="text/javascript">
                    jQuery(document).ready(function () {
                        var $homeNews = $('.homeNews');
                        $homeNews.imagesLoaded(function () {
                            $(".homeNews").carouFredSel({
                                circular: true,
                                infinite: true,
                                responsive: true,
                                auto: { pauseDuration: 5000, pauseOnHover: true, duration: 1000 },
                                scroll: { fx: "slide", items: 1, },
                                prev: "#homeNewsNav .prev",
                                next: "#homeNewsNav .next",
                                swipe: { onMouse: true, onTouch: true },
                                items: {
                                    width: 320,
                                    height: "variable",
                                    visible: { min: 1, max: 4 }
                                }
                            });
                        });
                    });
                </script>
            </div><!--end homeNewsMain-->

            <div id="homeSer">
                <div id="serLeft">
                    <div class="navBox" id="serRightNav"><a href="ngochuyphoto_default_2.html#" class="prev">Prev</a><a href="ngochuyphoto_default_2.html#" class="next">Next</a></div>
                    <a href="dich-vu.htm" class="thumb" style="background-image:url(http://ngochuyphoto.com/multidata/dich-vu-ngoc-huy.jpg);"><img src="multidata/dich-vu-ngoc-huy.jpg" width="300" alt="" /><span></span></a>
                    <ul>
                        <h1>Dịch vụ Ngọc Huy.</h1>
                        <h2><a href="dich-vu.htm">Cung cấp các <br />dịch vụ tốt nhất</a></h2>
                        <p>Với Ngọc Huy nhiếp ảnh là một môn nghệ thuật đòi hỏi người nghệ sỹ phải luôn sáng tạo không ngừng. Và chỉ có niềm đam mê bất tận mới có thể khiến người nghệ sỹ không ngừng nghỉ tìm tòi, học hỏi, nỗ lực và cố gắng.</p>
                    </ul>	        <a href="dich-vu.htm" class="viewmore">Xem tất cả</a>
                </div><!--end serLeft-->
                <div id="serRight">
                    <div class="serRight">
                        <ul class='serRightCol'>
                            <li class='oneSer'>
                                <a href='cuoi-tron-goi-sdv.htm' class='thumb' style='background-image:url(http://ngochuyphoto.com/multidata/cuoi-tron-goi-01.jpg);'><img src='multidata/cuoi-tron-goi-01.jpg' width='300' alt='Cưới trọn gói' /><span></span></a>
                                <ul>
                                    <h1><a href='cuoi-tron-goi-sdv.htm' title='Cưới trọn gói'>Cưới trọn gói</a></h1>
                                    <p>Với dịch vụ cưới trọn gói, các cô dâu chú rể sẽ đỡ vất vả hơn trong việc chuẩn bị cho mình một đám cưới hoàn hảo.</p>
                                </ul>
                                <div class='clr'></div>
                                <a href='cuoi-tron-goi-sdv.htm' class='viewmore'>Xem thêm</a>
                            </li>
                            <li class='oneSer'>
                                <a href='chup-hinh-cuoi-sdv.htm' class='thumb' style='background-image:url(http://ngochuyphoto.com/multidata/chup-hinh-cuoi.jpg);'><img src='multidata/chup-hinh-cuoi.jpg' width='300' alt='Chụp hình Cưới' /><span></span></a>
                                <ul>
                                    <h1><a href='chup-hinh-cuoi-sdv.htm' title='Chụp hình Cưới'>Chụp hình Cưới</a></h1>
                                    <p>Các cô dâu chú rể có thể dễ dàng nhận thấy sự đa dạng trong phong cách chụp hình cưới từ lãng mạn, cổ điển, đến hiện đại, tinh nghịch, phá cách...</p>
                                </ul>
                                <div class='clr'></div>
                                <a href='chup-hinh-cuoi-sdv.htm' class='viewmore'>Xem thêm</a>
                            </li>
                        </ul><ul class='serRightCol'>
                            <li class='oneSer'>
                                <a href='trang-diem-co-dau-sdv.htm' class='thumb' style='background-image:url(http://ngochuyphoto.com/multidata/trang-diem-co-dau-89.jpg);'><img src='multidata/trang-diem-co-dau-89.jpg' width='300' alt='Trang điểm cô dâu' /><span></span></a>
                                <ul>
                                    <h1><a href='trang-diem-co-dau-sdv.htm' title='Trang điểm cô dâu'>Trang điểm cô dâu</a></h1>
                                    <p>Đến với Ngọc Huy, bạn sẽ được tư vấn về cách trang điểm cô dâu như thế nào để phải hòa hợp và đẹp nổi bật.... </p>
                                </ul>
                                <div class='clr'></div>
                                <a href='trang-diem-co-dau-sdv.htm' class='viewmore'>Xem thêm</a>
                            </li>
                            <li class='oneSer'>
                                <a href='ban-cho-thue-ao-cuoi-sdv.htm' class='thumb' style='background-image:url(http://ngochuyphoto.com/multidata/ban-va-cho-thue-ao-cuoi-01.jpg);'><img src='multidata/ban-va-cho-thue-ao-cuoi-01.jpg' width='300' alt='Bán & cho thuê áo cưới' /><span></span></a>
                                <ul>
                                    <h1><a href='ban-cho-thue-ao-cuoi-sdv.htm' title='Bán & cho thuê áo cưới'>Bán & cho thuê áo cưới</a></h1>
                                    <p>Khi đến với chúng tôi bạn sẽ dễ dàng lựa chọn được những mẫu áo cưới đẹp và phù hợp trong ngày vui ý nghĩa của mình.</p>
                                </ul>
                                <div class='clr'></div>
                                <a href='ban-cho-thue-ao-cuoi-sdv.htm' class='viewmore'>Xem thêm</a>
                            </li>
                        </ul><ul class='serRightCol'>
                            <li class='oneSer'>
                                <a href='chup-hinh-nghe-thuat-sdv.htm' class='thumb' style='background-image:url(http://ngochuyphoto.com/multidata/chup-hinh-nghe-thuat-01.jpg);'><img src='multidata/chup-hinh-nghe-thuat-01.jpg' width='300' alt='Chụp hình nghệ thuật' /><span></span></a>
                                <ul>
                                    <h1><a href='chup-hinh-nghe-thuat-sdv.htm' title='Chụp hình nghệ thuật'>Chụp hình nghệ thuật</a></h1>
                                    <p>Sự kết hợp ăn ý giữa người mẫu và người chụp hình nghệ thuật là vô cùng quan trọng để có thể làm nổi bật nét đẹp của...</p>
                                </ul>
                                <div class='clr'></div>
                                <a href='chup-hinh-nghe-thuat-sdv.htm' class='viewmore'>Xem thêm</a>
                            </li>
                        </ul>
                    </div><!--end serRight-->
                    <script type="text/javascript">
                        jQuery(document).ready(function () {
                            var $serRight = $('.serRight');
                            $serRight.imagesLoaded(function () {
                                $(".serRight").carouFredSel({
                                    circular: true,
                                    infinite: true,
                                    responsive: true,
                                    auto: { pauseDuration: 5000, pauseOnHover: true, duration: 1000 },
                                    scroll: { fx: "slide", items: "page", },
                                    prev: "#serRightNav .prev",
                                    next: "#serRightNav .next",
                                    swipe: { onMouse: true, onTouch: true },
                                    items: {
                                        height: "variable",
                                        visible: { min: 1, max: 1 }
                                    }
                                });
                            });
                        });
                    </script>
                    <div class="clr"></div>
                </div><!--end serRight-->
                <div class="clr"></div>
            </div><!--end homeSer-->
            <div class="clr"></div>
        </div><!--end content-->
        <!-- /CONTENT -->
        @Html.Partial("_Footer")

        <a href="shop-home-1.html#" id="toTop"></a>

    </div><!-- /#wrapper -->


    <a href="#" class="booking" data-toggle="modal" data-target="#BookingModal">
        <img src="@Url.Content("~/Content/images/booking1.png")" alt="Booking" />
    </a>

    <div class="dathang_theoyeucau">

        <div class="content_dathang">
            @Html.Raw(popup.PAGE_COTRACT_CONTENT)

        </div>
    </div>

    <!-- JAVASCRIPT FILES -->

    <script src="@Url.Content("~/Content/plugins/jquery.isotope.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/masonry.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/magnific-popup/jquery.magnific-popup.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/owl-carousel-latest/owl.carousel.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/knob/js/jquery.knob.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/flexslider/jquery.flexslider-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/revolution-slider/js/jquery.themepunch.plugins.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/revolution_slider.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.lazyload.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.infinitescroll.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/scripts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/self-scripts.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/nh/js/jquery.carouFredSel-6.2.0-packed.js")" type="text/javascript"></script>

    <script>
        $("#topMain li a").click(function () {
            $('li').removeClass('active');
            $(this).parent().addClass('active');
        });

        $("#topMain .dropdown-menu li a").click(function () {
            $('li').removeClass('active');
            $(this).parent().parent().parent().addClass('active');
        });


        function showPopup() {
            var needPopup = @(Session["needPopup"] == null ? "true" : "false");
            @{
                Session["needPopup"] = true;
            }
            if (needPopup) {
                $("#PopupModal").modal();
            }
        }
        showPopup();
    </script>
</body>
</html>