@{
    ViewBag.Title = "ShowAlbum";
    W_GJS.Models.GJSEntities gjs = new W_GJS.Models.GJSEntities();
    List<W_GJS.Models.O_CATEGORY_ALBUM> listcategory = gjs.O_CATEGORY_ALBUM.Where(t => t.ACTIVE == true ).ToList();
}

@section PageTitle {
    <section class="page-title">
        <div class="container">

            <header>

                <ul class="breadcrumb">
                    <!-- breadcrumb -->
                    <li><a href="@Url.Action("Index")">Trang Chủ</a></li>
                    <li class="active">Album</li>
                </ul><!-- /breadcrumb -->

                <h2>
                    <!-- Page Title -->
                    <strong>Album</strong>
                </h2><!-- /Page Title -->

            </header>

        </div>
    </section>
}

@foreach (var item in listcategory)
{
    if(item.O_ALBUM.Where(t => t.ACTIVE== true).ToList().Count != 0)
    {
        <h2 class="owl-featured margin-bottom-30 margin-top20"><strong>@item.CATEGORY_ALBUM_NAME</strong></h2>
        <div class="row">
        @foreach (var itemimage in item.O_ALBUM)
        {
            if (itemimage.ACTIVE == true)
            {
                 <span class="col-xs-3">
                    <a href="@itemimage.URL_IMAGE"
                       data-target="flare"
                       data-flare-gallery="gallery-@item.CATEGORY_ALBUM_CD"
                       data-flare-thumb="@itemimage.URL_IMAGE"
                       data-flare-bw="@itemimage.URL_IMAGE">
                        <img src="@itemimage.URL_IMAGE" alt="project" class="img-responsive" />
                    </a>
                </span>     
            }

        }
       </div>
    }
}
