@model IEnumerable<W_GJS.Models.O_CITIES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CITIES_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITIES_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITIES_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATEDATE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CITIES_CD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CITIES_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CITIES_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATEDATE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @if (item.ACTIVE == false)
            {
                @Html.ActionLink("Active", "Active", new { CITIES_CD = item.CITIES_CD })
            }
            else
            {
                @Html.ActionLink("Deactive", "Deactive", new { CITIES_CD = item.CITIES_CD })
            }
        </td>
    </tr>
}

</table>
