@model IEnumerable<W_GJS.Models.O_NEWS_HIGHLIGHTS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

<h2>Danh sách</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NEWS_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATEDATE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NEWS_CD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STATUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACTIVE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATEDATE)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { CD = item.CD }) |
                @if (item.ACTIVE == false)
                {
                    @Html.ActionLink("Active", "Active", new { CD = item.CD })
                }
                else
                {
                    @Html.ActionLink("Deactive", "Deactive", new { CD = item.CD })
                }
            </td>
        </tr>
    }

</table>
