<ul class="quick-cart-wrapper">
    <li class="quick-cart dropdown pull-right">
        <a href="shop-home-1.html#" class="dropdown-toggle btn btn-primary"><i class="fa fa-shopping-cart"></i> 3 SẢN PHẨM - 26 000 000 VNĐ <i class="fa fa-angle-down"></i></a>
        <ul class="dropdown-menu pull-right">
            <li>
                <p><i class="fa fa-warning"></i> Ban có 3 sản phẩm trong giỏ hàng</p>

                <!-- CART CONTENT -->
                <div class="quick-cart-content">

                    <a class="quick-cart-item" href="@Url.Action("Cart", "Home")">
                        <!-- item 1 -->
                        <img class="pull-left" src="@Url.Content("~/Content")/images/products/sp5.png" width="40" alt="quick cart">
                        <div class="inline-block">
                            <span class="title block">Nhẫn trang sức</span>
                            <span class="price block">2 &times; 5 000 000 VNĐ</span>
                        </div>
                    </a><!-- /item 1 -->

                    <a class="quick-cart-item" href="@Url.Action("Cart", "Home")">
                        <!-- item 2 -->
                        <img class="pull-left" src="@Url.Content("~/Content")/images/products/sp3.png" width="40" alt="quick cart">
                        <div class="inline-block">
                            <span class="title block">Kim cương đá quí...</span>
                            <span class="price block">2 &times; 5 000 000 VNĐ</span>
                        </div>
                    </a><!-- /item 2 -->

                    <a class="quick-cart-item" href="@Url.Action("Cart", "Home")">
                        <!-- item 3 -->
                        <img class="pull-left" src="@Url.Content("~/Content")/images/products/sp1.png" width="40" alt="quick cart">
                        <div class="inline-block">
                            <span class="title block">Nhẫn bạc</span>
                            <span class="price block">1 &times; 6 000 000 VNĐ</span>
                        </div>
                    </a><!-- /item 3 -->

                    <div class="row cart-footer">
                        <!-- cart footer -->
                        <div class="col-md-6 nopadding-right">
                            <a href="@Url.Action("Cart", "Home")" class="btn btn-primary fullwidth">GIỎ HÀNG</a>
                        </div>
                        <div class="col-md-6 nopadding-left">
                            <a href="shop-page-checkout.html" class="btn btn-info fullwidth">ĐẶT HÀNG</a>
                        </div>
                    </div><!-- /cart footer -->

                </div>
                <!-- /CART CONTENT -->

            </li>
        </ul>
    </li>
</ul>
