@model IEnumerable<W_GJS.Models.O_PRICE_GOLD>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutManagement.cshtml";
}

<h2>Danh sách</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PRICE_GOLD_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE_SALES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE_BUY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GOLD_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GOLD_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE_GOLD_CD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE_SALES)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE_BUY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GOLD_CODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GOLD_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACTIVE)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { PRICE_GOLD_CD = item.PRICE_GOLD_CD }) |
                @if (item.ACTIVE == false)
                {
                    @Html.ActionLink("Active", "Active", new { PRICE_GOLD_CD = item.PRICE_GOLD_CD })
                }
                else
                {
                    @Html.ActionLink("Deactive", "Deactive", new { PRICE_GOLD_CD = item.PRICE_GOLD_CD })
                }
            </td>
        </tr>
    }

</table>
