@{
    ViewBag.Title = "Catalog";
}


<h2 class="owl-featured margin-bottom-30 padding-top20"><strong>Danh mục 01</strong></h2>

<div class="row">

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp5.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-no">
                <!-- stock -->
                <i class="fa fa-times"></i> hết hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->
            <div class="sb-gdv-disc">
                <div class="sb-gdv-disc__content">Mới</div>
            </div>
        </a>
    </div><!-- /item -->

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp1.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-yes">
                <!-- stock -->
                <i class="fa fa-check"></i> còn hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000 VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->

        </a>
    </div><!-- /item -->

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp3.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-no">
                <!-- stock -->
                <i class="fa fa-times"></i> hết hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->

        </a>
    </div><!-- /item -->

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp4.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-yes">
                <!-- stock -->
                <i class="fa fa-check"></i> còn hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->
            <div class="sb-gdv-disc">
                <div class="sb-gdv-disc__content">Mới</div>
            </div>
        </a>
    </div><!-- /item -->

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp1.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-yes">
                <!-- stock -->
                <i class="fa fa-check"></i> còn hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->

        </a>
    </div><!-- /item -->

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp4.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-no">
                <!-- stock -->
                <i class="fa fa-times"></i> hết hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->
            <div class="sb-gdv-disc">
                <div class="sb-gdv-disc__content">Mới</div>
            </div>
        </a>
    </div><!-- /item -->

</div>

<div class="row">
    <div class="col-md-6">
        Hiện 6 trên tổng số 10 sản phẩm
    </div>
    <div class="col-md-6">
        <ul class="pagination pull-right">
            <li class="disabled"><a href="@Url.Action("ProductList", "Home")">&laquo;</a></li>
            <li class="active"><a href="@Url.Action("ProductList", "Home")">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="@Url.Action("ProductList", "Home")">2</a></li>
            <li><a href="@Url.Action("ProductList", "Home")">3</a></li>
            <li><a href="@Url.Action("ProductList", "Home")">4</a></li>
            <li><a href="@Url.Action("ProductList", "Home")">5</a></li>
            <li><a href="@Url.Action("ProductList", "Home")">&raquo;</a></li>
        </ul>
    </div>
</div>

<h2 class="owl-featured margin-bottom-30 padding-top20"><strong>Danh mục 02</strong></h2>

<div class="row">

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp5.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-no">
                <!-- stock -->
                <i class="fa fa-times"></i> hết hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->
            <div class="sb-gdv-disc">
                <div class="sb-gdv-disc__content">Mới</div>
            </div>
        </a>
    </div><!-- /item -->

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp1.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-yes">
                <!-- stock -->
                <i class="fa fa-check"></i> còn hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000 VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->

        </a>
    </div><!-- /item -->

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp3.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-no">
                <!-- stock -->
                <i class="fa fa-times"></i> hết hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->

        </a>
    </div><!-- /item -->

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp4.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-yes">
                <!-- stock -->
                <i class="fa fa-check"></i> còn hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->
            <div class="sb-gdv-disc">
                <div class="sb-gdv-disc__content">Mới</div>
            </div>
        </a>
    </div><!-- /item -->

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp1.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-yes">
                <!-- stock -->
                <i class="fa fa-check"></i> còn hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->

        </a>
    </div><!-- /item -->

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp4.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-no">
                <!-- stock -->
                <i class="fa fa-times"></i> hết hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->
            <div class="sb-gdv-disc">
                <div class="sb-gdv-disc__content">Mới</div>
            </div>
        </a>
    </div><!-- /item -->

</div>

<div class="row">
    <div class="col-md-6">
        Hiện 6 trên tổng số 10 sản phẩm
    </div>
    <div class="col-md-6">
        <ul class="pagination pull-right">
            <li class="disabled"><a href="@Url.Action("ProductList", "Home")">&laquo;</a></li>
            <li class="active"><a href="@Url.Action("ProductList", "Home")">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="@Url.Action("ProductList", "Home")">2</a></li>
            <li><a href="@Url.Action("ProductList", "Home")">3</a></li>
            <li><a href="@Url.Action("ProductList", "Home")">4</a></li>
            <li><a href="@Url.Action("ProductList", "Home")">5</a></li>
            <li><a href="@Url.Action("ProductList", "Home")">&raquo;</a></li>
        </ul>
    </div>
</div>

<h2 class="owl-featured margin-bottom-30 padding-top20"><strong>Danh mục 03</strong></h2>

<div class="row">

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp5.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-no">
                <!-- stock -->
                <i class="fa fa-times"></i> hết hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->
            <div class="sb-gdv-disc">
                <div class="sb-gdv-disc__content">Mới</div>
            </div>
        </a>
    </div><!-- /item -->

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp1.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-yes">
                <!-- stock -->
                <i class="fa fa-check"></i> còn hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000 VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->

        </a>
    </div><!-- /item -->

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp3.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-no">
                <!-- stock -->
                <i class="fa fa-times"></i> hết hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->

        </a>
    </div><!-- /item -->

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp4.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-yes">
                <!-- stock -->
                <i class="fa fa-check"></i> còn hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->
            <div class="sb-gdv-disc">
                <div class="sb-gdv-disc__content">Mới</div>
            </div>
        </a>
    </div><!-- /item -->

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp1.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-yes">
                <!-- stock -->
                <i class="fa fa-check"></i> còn hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->

        </a>
    </div><!-- /item -->

    <div class="col-md-4 col-sm-4">
        <!-- item -->
        <a class="shop-item-list" href="/Home/ProductDetail">
            <figure>
                <!-- image -->
                <img class="img-responsive" src="/Content/images/products/sp4.png" alt="">
            </figure><!-- /image -->
            <span class="shop-stock-info stock-no">
                <!-- stock -->
                <i class="fa fa-times"></i> hết hàng
            </span><!-- /stock -->
            <div class="product-info">
                <!-- title and price -->
                <h2>
                    <span class="product-name">Nhẫn kim cương</span>
                    <span class="bold">2 000 000VNĐ </span> <span class="line-through">1 000 000 VNĐ</span>
                </h2>
            </div><!-- /title and price -->
            <div class="sb-gdv-disc">
                <div class="sb-gdv-disc__content">Mới</div>
            </div>
        </a>
    </div><!-- /item -->

</div>

<div class="row">
    <div class="col-md-6">
        Hiện 6 trên tổng số 10 sản phẩm
    </div>
    <div class="col-md-6">
        <ul class="pagination pull-right">
            <li class="disabled"><a href="@Url.Action("ProductList", "Home")">&laquo;</a></li>
            <li class="active"><a href="@Url.Action("ProductList", "Home")">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="@Url.Action("ProductList", "Home")">2</a></li>
            <li><a href="@Url.Action("ProductList", "Home")">3</a></li>
            <li><a href="@Url.Action("ProductList", "Home")">4</a></li>
            <li><a href="@Url.Action("ProductList", "Home")">5</a></li>
            <li><a href="@Url.Action("ProductList", "Home")">&raquo;</a></li>
        </ul>
    </div>
</div>