
@{
    ViewBag.Title = "ColoredStonesAssess";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Self/services/css/default.css")" rel="stylesheet" type="text/css" />
}

<h2 class="owl-featured margin-bottom-30 margin-top20"><strong>DỊCH VỤ GIÁM ĐỊNH CÁC LOẠI ĐÁ MÀU</strong></h2>

<div class="editor_content">

    <div style="text-align: center;">
        <span class="title-article"><strong>CÁC NHÂN TỐ ẢNH HƯỞNG LÊN MÀU CỦA ĐÁ QUÝ</strong></span>
    </div>
    <div style="text-align: justify;">
        <span class="title-article"><strong>1. CẮT MÀI (CUT)</strong></span><br>
        Để có được một viên đá đẹp sau khi chế tác thợ cắt mài phải kiểm tra tinh thể thô rất cẩn thận trước khi tiến hành bước đầu tiên của quá trình cắt mài. Mỗi mẫu đá thô có một dạng phân bố màu (hàm lượng và vị trí của màu trong tinh thể) đặc trưng của nó. Ví dụ: màu xanh dương trong sapphire thô có thể chỉ nằm tại hai chóp tinh thể.
    </div>
    <table align="center" border="0" cellpadding="0" cellspacing="1" style="width:200px;" width="200">
        <tbody>
            <tr>
                <td style="text-align: justify;">
                    &nbsp;<img src="@Url.Content("~/Content")/images/services/7.bmp" style="width: 400px; height: 261px;">
                </td>
            </tr>
            <tr>
                <td style="text-align: justify;">
                    Trong nhiều tinh thể sapphire xanh dương màu chỉ tập trung ở gần bề mặt và bên trong gần như không màu, vì vậy thợ cắt mài phải định hướng sao cho viên đá sau khi mài phải có chứa một số vùng có màu từ tinh thể - Ảnh: Peter Johnston/GIA
                </td>
            </tr>
        </tbody>
    </table>
    <div style="clear: both; text-align: justify;">
        &nbsp;
    </div>
    <div style="text-align: justify;">
        Một mẫu đá thô có màu đều đặn có thể mài thành những viên đá có màu khác nhau phụ thuộc vào kích thước và tỉ lệ cắt mài của viên đá sau khi mài. Ví dụ: một viên topaz thô có màu hồng nhạt chỉ có thể mài thành một viên đá có màu đẹp khi nó có kích thước đủ lớn. Vì vậy khi gặp những loại này thợ cắt mài phải cắt thành một viên đá lớn, màu đậm thay vì cắt thành một số viên nhỏ có tỉ lệ cắt mài chuẩn nhưng có màu nhạt hơn. Đối với những viên đá thô có màu phân bố thành từng lớp song song với những mặt tinh thể hoặc nằm gần bề mặt của tinh thể. Để có được những viên đá có màu đẹp nhất (mà viên đá đó có thể) sau khi mài khi nhìn viên đá từ trên mặt thì thợ cắt mài phải định hướng sao cho những lớp màu phải song song với gờ hoặc đặt phần màu đậm ở chóp đáy (culet) của viên đá được mài giác.
    </div>
    <table align="center" border="0" cellpadding="0" cellspacing="1" style="width:407px;" width="407">
        <tbody>
            <tr>
                <td style="text-align: justify;">
                    &nbsp;
                </td>
                <td style="text-align: justify;">
                    <img src="@Url.Content("~/Content")/images/services/8.bmp" style="width: 420px; height: 137px;">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: justify;">
                    Khi nhìn từ trên mặt viên sapphire này gần như có màu đều đặn, tuy nhiên khi nhìn từ bên cạnh thì màu xanh dương chỉ là một lớp mỏng nằm dưới mặt bàn - Ảnh: Shane McClure/GIA
                </td>
            </tr>
        </tbody>
    </table>
    <div style="clear: both; text-align: justify;">
        &nbsp;
    </div>
    <div style="text-align: justify;">
        &nbsp;Tỉ lệ cắt mài chính xác có thể làm cho viên đá thể hiện tối đa độ chiếu sáng và màu của nó, nhưng chúng ta phải xem xét đến lợi ích kinh tế để cắt mài mỗi viên đá thô vì khi cắt mài đúng chuẩn có thể làm giảm trọng lượng viên đá rất nhiều.<br>
        <br>
        <span class="title-article">&nbsp;<strong>2. ĐỚI MÀU (COLOR ZONING) </strong></span><br>
        Thông thường, màu của một viên đá thô không được phân bố một cách đều đặn và thợ cắt mài phải kiểm tra kĩ lưỡng để tạo ra màu đẹp nhất cho viên đá sau khi mài. Sapphire xanh dương và amethyst thường có những vùng màu đậm, song song với mặt tinh thể của chúng. Đây được gọi là đới màu, nó được tạo ra bởi sự thay đổi điều kiện tăng trưởng và chất tạo màu trong quá trình tinh thể kết tinh.
    </div>
    <table align="center" border="0" cellpadding="0" cellspacing="1" style="width:408px;" width="408">
        <tbody>
            <tr>
                <td style="text-align: justify;">
                    &nbsp;&nbsp;<img src="@Url.Content("~/Content")/images/services/amethyst.bmp" style="width: 400px; height: 261px;">
                </td>
            </tr>
            <tr>
                <td style="text-align: justify;">
                    Đới màu màu góc cạnh đi theo những mặt tinh thể trong amethyst thiên nhiên - Ảnh: D. Beaton/GIA
                </td>
            </tr>
        </tbody>
    </table>
    <div style="clear: both; text-align: justify;">
        &nbsp;
    </div>
    <div style="text-align: justify;">
        Đới màu là những khu vực có màu không đều đặn hoặc những màu khác nhau khi nhìn viên đá cùng một hướng. Sapphire có tông màu tối từ một số nguồn gốc thường chứa những đới màu góc cạnh, đây là những dải gồm những màu khác nhau hoàn toàn hoặc cùng một màu nhưng cường độ khác nhau. Thường sẽ thấy những dải màu đậm nằm xen kẽ với những dải gần không màu. Do tông của những loại sapphire này thường quá đậm nên không thể thấy đới màu.&nbsp;<br>
        Nếu cắt mài cẩn thận có thể giảm những ảnh hưởng của đới màu. Trong amethyst, đới màu được định hướng sao cho những dải màu nằm song song với gờ. Đới màu trong amethyst thường có thể chấp nhận được miễn là nó không được nhìn thấy từ bề mặt viên đá. Trong những tinh thể có đới màu, thợ cắt mài có thể tập trung màu trong một khu vực nhỏ, thường nằm gần với culet, điều này sẽ làm nổi bật màu của viên đá khi nhìn từ trên mặt, thậm chí nếu phần còn lại của viên đá có màu rất nhạt hoặc không màu. Nếu đới màu nhìn thấy được trên bề mặt viên đá mà thợ cắt mài không thể che giấu được, gọi là unintended color zoning và được xem như một đặc điểm của độ tinh khiết.&nbsp;<br>
        Đôi khi hàm lượng của những nguyên tố vết thay đổi một cách đột ngột khi viên đá tăng trưởng. Trong một số loại đá quý, sự thay đổi của những nguyên tố vết này là nguyên nhân của sự thay đổi màu trong quá trình tăng trưởng. Điều này làm cho viên đá có hai hoặc nhiều đới màu rõ rệt. Nếu màu khác nhau hoàn toàn, thợ cắt mài phải cắt sao cho đặc điểm này của viên đá nổi bật nhất. Ametrine và tourmaline hai màu thì được cắt (có chủ tâm) để thể hiện những đới màu này.<br>
        &nbsp;
    </div>
    <table align="center" border="0" cellpadding="0" cellspacing="1" style="width:200px;" width="200">
        <tbody>
            <tr>
                <td style="text-align: justify;">
                    &nbsp;
                </td>
                <td style="text-align: justify;">
                    <img src="@Url.Content("~/Content")/images/services/1.bmp" style="width: 447px; height: 163px;">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: justify;">
                    &nbsp;<br>
                    Hai viên đá này được cắt mài với đới màu được thể hiện rõ ràng. Corundum từ Việt Nam với màu xanh dương và màu hồng trên cùng một tinh thể (trái) - Ảnh: Maha Tannous/GIA. Ametrine là sự kết hợp của amethyst và citrine (phải) - Ảnh: Robert Weldon/GIA
                </td>
            </tr>
        </tbody>
    </table>
    <div style="clear: both; text-align: justify;">
        &nbsp;
    </div>
    <div style="text-align: justify;">
        <span class="title-article">&nbsp;<strong>3. ĐA SẮC (PLEOCHROISM)</strong></span><br>
        Trong hầu hết các hướng bên trong viên đá dị hướng, trong suốt và có màu ánh sáng đi vào sẽ tách thành hai tia, mà có thể làm cho viên đá có những thân màu khác nhau, phụ thuộc vào sự định hướng cắt mài và góc nhìn. Đây được gọi là đa sắc.
    </div>
    <table align="center" border="0" cellpadding="0" cellspacing="1" style="width:408px;" width="408">
        <tbody>
            <tr>
                <td style="text-align: justify;">
                    &nbsp;&nbsp;<img src="@Url.Content("~/Content")/images/services/9.bmp" style="width: 400px; height: 266px;">
                </td>
            </tr>
            <tr>
                <td style="text-align: justify;">
                    &nbsp;<br>
                    Đa sắc màu xanh dương và màu tía của tanzanite đã xử lý nhiệt được quan sát dưới kính đa sắc - Ảnh: Dr. Eduard J. Gubelin/GIA
                </td>
            </tr>
        </tbody>
    </table>
    <div style="clear: both; text-align: justify;">
        &nbsp;
    </div>
    <div style="text-align: justify;">
        Những loại đá như là andalusite, iolite và tanzanite, đa sắc có thể thấy bằng mắt thường. Ví dụ: andalusite được cắt mài sao cho khi nhìn viên đá từ trên mặt có thể thấy được hỗn hợp màu đa sắc vàng-lục và cam đặc trưng. Và tanzanite có thể có màu phớt xanh dương nhiều hơn hoặc phớt tím nhiều hơn trên bề mặt phụ thuộc vào sự định hướng của việc cắt mài.<br>
        &nbsp;
    </div>
    <table align="center" border="0" cellpadding="0" cellspacing="1" style="width:200px;" width="200">
        <tbody>
            <tr>
                <td style="text-align: justify;">
                    &nbsp;
                </td>
                <td style="text-align: justify;">
                    <img src="@Url.Content("~/Content")/images/services/3.bmp" style="width: 350px; height: 159px;">
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: justify;">
                    Một số loại đá quý có đa sắc rất mạnh mà có thể nhìn thấy bằng mắt thường. Tanzanite thể hiện đa sắc màu xanh dương và màu tím (trái). Andalusite thể hiện đa sắc màu đỏ và lục (phải) - Ảnh: Robert Weldon/GIA
                </td>
            </tr>
        </tbody>
    </table>
    <div style="clear: both; text-align: justify;">
        &nbsp;
    </div>
    <div style="text-align: justify;">
        Đối với một số loại đá như là ruby, tourmaline và sapphire, một số màu đa sắc có thể làm cho thân màu viên đá không được đẹp, vì vậy viên đá thô phải được định hướng cẩn thận trước khi cắt mài để thể hiện màu đẹp nhất trên bề mặt viên đá sau khi cắt mài. Thật may mắn trong ruby và sapphire sự định hướng để có màu đẹp nhất cũng là hướng làm cho viên đá có trọng lượng lớn nhất sau khi mài. Ví dụ: sapphire xanh dương sẽ có màu đa sắc đẹp nhất nếu mặt bàn được cắt vuông góc với chiều dài tinh thể (trục c), nếu cắt mặt bàn song song với chiều dài tinh thể thì sẽ có màu xanh dương phớt lục trên bề mặt viên đá, làm cho viên đá có màu không đẹp và giảm giá trị.<br>
        Một số loại đá đẳng hướng – như là spinel – có thể có một màu thứ cấp (second) trên bề mặt. Đây không phải là đa sắc. Nó xuất hiện khi ánh sáng phản chiếu bên trong viên đá phản ứng với ánh sáng truyền qua nó. Nếu kiểm tra với kính đa sắc thì chỉ thấy có một màu.<br>
        <br>
        <span class="title-article">&nbsp;<strong>4. ĐỘ TINH KHIẾT (CLARITY) </strong></span><br>
        Những bao thể mà làm gián đoạn đường đi của ánh sáng xuyên qua viên đá mài giác sẽ làm giảm độ chiếu sáng và cường độ màu. Nhưng một số bao thể cũng có thể đem lại những ảnh hưởng tích cực lên bề ngoài viên đá. Ví dụ: những bao thể mịn có thể phân tán ánh sáng bên trong viên đá mài giác và làm cho những vùng tối của viên đá (extinction) ít bị chú ý hơn.
    </div>
    <table align="center" border="0" cellpadding="0" cellspacing="1" style="width:408px;" width="408">
        <tbody>
            <tr>
                <td style="text-align: justify;">
                    <img src="@Url.Content("~/Content")/images/services/4.bmp" style="width: 400px; height: 217px;">
                </td>
            </tr>
            <tr>
                <td style="text-align: justify;">
                    Những sợi rutile dài, mảnh có thể gây ra hiệu ứng “sleepy” trong sapphire xanh dương - Ảnh: John Koivula/GIA
                </td>
            </tr>
        </tbody>
    </table>
    <div style="clear: both; text-align: justify;">
        &nbsp;
    </div>
    <div style="text-align: justify;">
        Bao thể cũng có thể tạo ra màu của viên đá. Những hạt mica màu lục là nguyên nhân gây ra thân màu lục cho, và những bao thể hematite màu nâu nhạt làm cho một số sapphire vàng có màu đậm hơn.<br>
        <br>
        <span class="title-article"><strong>5. PHÁT HUỲNH QUANG (FLUORESCENCE)</strong></span><br>
        Một số vật liệu phát ra ánh sáng khi nó được đặt dưới tia cực tím (UV), đây được gọi là phát huỳnh quang. Ánh sáng mặt trời và đèn huỳnh quang phát ra một số tia cực tím (UV), và nhiều loại đá quý phát huỳnh quang khi đặt dưới điều kiện này.<br>
        Phát huỳnh quang làm cho spinel đỏ thêm phần rực rỡ. Nó cũng làm tăng màu đỏ của ruby giàu chromium. Nhưng ruby từ một số nguồn gốc thì giàu sắt, và sắt là chất cản phát huỳnh quang nên những loại ruby này không phát huỳnh quang dưới tia cực tím. Thông thường, ruby phát huỳnh quang thì có giá trị cao hơn những loại không phát huỳnh quang, mặc dù ở một khí cạnh khác thì phát huỳnh quang có thể làm giảm độ chiếu sáng của viên đá.
    </div>
    <table align="center" border="0" cellpadding="0" cellspacing="1" style="width:408px;" width="408">
        <tbody>
            <tr>
                <td style="text-align: justify;">
                    &nbsp;&nbsp;<img src="@Url.Content("~/Content")/images/services/5.bmp" style="width: 400px; height: 248px;">
                </td>
            </tr>
            <tr>
                <td style="text-align: justify;">
                    &nbsp;Phát huỳnh quang màu đỏ có thể làm tăng màu đỏ trong một số loại ruby giàu chromium - Ảnh: Benjamin Zucker/Precious Stone Company, New York
                </td>
            </tr>
        </tbody>
    </table>
    <div style="clear: both; text-align: justify;">
        &nbsp;
    </div>
    <div style="text-align: justify;">
        <span class="title-article"><strong>6. HIỆU ỨNG ĐỔI MÀU (COLOR CHANGE)</strong></span><br>
        Một viên đá có những màu sắc khác nhau dưới những loại ánh sáng khác nhau, gọi là hiệu ứng đổi màu. Chromium và vanadium là những chất tạo màu thường gây ra hiệu ứng đổi màu trong đá quý.<br>
        Đổi màu xuất hiện trong alexandrite chrysoberyl, sapphire đổi màu và garnet đổi màu bởi vì những loại đá này cho phép truyền qua màu đỏ và lục của phổ gần như bằng nhau. Những loại đá này có những thân màu khác nhau, phụ thuộc vào loại ánh sáng mà chúng tiếp xúc. Ví dụ: alexandrite có màu đỏ dưới ánh sáng sợi quang (loại ánh sáng giàu màu đỏ) và có màu lục dưới ánh sáng huỳnh quang (giàu màu lam và lục).<br>
        <br>
        Mặc dù màu thì khác nhau dưới mỗi nguồn sáng, những tông (tone) và độ bảo hòa (saturation) thì luôn luôn bằng nhau. Khi đánh giá những viên đá đổi màu, trước tiên nên kiểm tra chúng dưới ánh sáng daylight, sau đó chuyển sang ánh sáng sợi quang. Xem xét mức độ và cường độ của sự đổi màu. Trong alexandrite, nếu màu lục đổi thành màu đỏ một cách rõ rệt thì viên đá có giá trị rất cao.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Tổng hợp sưu tầm
    </div>

    <div style="text-align: justify;">
        &nbsp;
    </div>

</div>