
@{
    ViewBag.Title = "DiamondAssess";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Self/services/css/default.css")" rel="stylesheet" type="text/css" />
}

<h2 class="owl-featured margin-bottom-30 margin-top20"><strong>DỊCH VỤ GIÁM ĐỊNH KIÊM CƯƠNG</strong></h2>

<div class="editor_content">
    <div style="text-align: center;">
        <span><strong><span style="font-size: 14px;">CHẤT LƯỢNG - GIÁ TRỊ CỦA KIM CƯƠNG THIÊN NHIÊN</span></strong></span><br>
        &nbsp;
    </div>
    <div style="text-align: justify;">
        &nbsp;
    </div>
    <div style="text-align: justify;">
        Kim cương được phân cấp chất lượng dựa vào tiêu chuẩn 4C của học viện đá quý GIA (Gemological Institute of America) - Mỹ. Bao gồm 4 tiêu chuẩn Màu, Độ tinh khiết, Độ cắt mài, Trong lượng. Dựa vào 4 tiêu chuẩn này người bán sẽ định giá trị của một viên kim cương.
    </div>
    <div style="text-align: justify;">
        &nbsp;
    </div>
    <div style="text-align: justify;">
        <span class="title-article"><strong>1. Cấp độ màu (Color grade):</strong> </span>Cấp độ màu kim cương được GIA phân thành 5 nhóm từ không màu (colorless) đến vàng\nâu nhạt (Light). GIA sử dụng các ký tự chữ cái latin đại diện cho các cấp màu bắt đầu là D và cuối cùng là Z. Thang chia này gọi là “D - Z Color scale”. Cấp độ màu càng cao thì giá kim cương càng tăng, cấp độ màu cao nhất trong nhóm D -Z color scale là D và giảm dần tới Z. Khi kim cương có những màu khác hoặc cấp độ màu vượt khỏi màu Z gọi là kim cương màu và có giá trị tính theo giá kim cương màu.
    </div>
    <br>
    <span class="title-article">&nbsp;&nbsp;&nbsp;&nbsp; <strong>a. Kim cương D - Z (từ không màu đến vàng nhạt )</strong></span><br>
    &nbsp;
    <div style="text-align: center;">
        <img alt="" src="@Url.Content("~/Content")/images/services/mau.bmp" style="width: 367px; height: 85px;"><br>
        <br>
        <img alt="" src="@Url.Content("~/Content")/images/services/thang_mau.bmp" style="width: 817px; height: 73px;">
    </div>
    &nbsp;<br>
    <span class="title-article">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>b. Kim cương màu:</strong></span><br>
    <br>
    <div style="text-align: center;">
        <img alt="" src="@Url.Content("~/Content")/images/services/fancy_colored_diamonds.jpg" style="width: 420px; height: 232px;"><br>
        &nbsp;
    </div>
    &nbsp;
    <div style="text-align: justify;">
        <span class="title-article"><strong>2. Cấp độ tinh khiết (Clarity grade):</strong> </span>Cấp độ tinh khiết thể hiện mức độ khó hay dễ nhìn thấy được tạp chất trong kim cương dưới độ phóng đại 10x. GIA chia cấp độ tinh khiết thành 5 nhóm với 11 cấp độ. Bắt đầu từ F (Flawless) đến I3 (Included). Độ tinh khiết càng cao giá trị càng tăng.
    </div>
    &nbsp;
    <div style="text-align: center;">
        <img alt="" src="@Url.Content("~/Content")/images/services/thang_tinh_khiet.bmp" style="width: 832px; height: 80px;"><br>
        <br>
        <img alt="" src="@Url.Content("~/Content")/images/services/plot.bmp" style="width: 297px; height: 333px;">
    </div>
    &nbsp;<br>
    <span class="title-article">&nbsp;</span>
    <div style="text-align: justify;">
        <span class="title-article"><strong>3. Cấp độ cắt mài (Cut grade):</strong> </span>cấp độ cắt mài thể hiện mức độ cắt mài của kim cương sau khi được gia công cắt mài. GIA chia mức độ cắt mài thành 5 cấp độ bắt đầu từ Hoàn hảo (Excellent) đến Kém (Poor). Cắt mài ảnh hưởng đến độ chiếu sáng và độ lửa của kim cương. Một viên kim cương có màu đẹp, độ tinh khiết cao, nhưng cắt mài Kém sẽ không có giá trị cao. Cắt mài ảnh hưởng lớnđế ộ lấp lánh và cân đối của kim cương và là một tiêu chí đánh giá độ đẹp của kim cương.
    </div>
    <br>
    &nbsp;
    <div style="text-align: center;">
        <img alt="" src="@Url.Content("~/Content")/images/services/thang_cat_mai.bmp" style="width: 710px; height: 49px;">
    </div>
    &nbsp;
    <div style="text-align: justify;">
        Một viên kim cương cắt đúng chuẩn sẽ mang lại độ chiếu sáng và lửa cao nhất. Trong trường hợp cắt quá nông hay quá dày sẽ gây mất sáng viên kim cương sẽ tối và độ lấp lánh sẽ giảm.
    </div>
    &nbsp;
    <div style="text-align: center;">
        <img alt="" src="@Url.Content("~/Content")/images/services/cut.bmp" style="width: 403px; height: 135px;">
    </div>
    <br>
    <div style="text-align: justify;">
        <span class="title-article"><strong>4. Trọng lượng (Carat weight):</strong></span> Là đơn vị thể hiện trọng lượng kim cương. Đơn vị tính sử dụng là Carat. Một carat bằng 0.2 gram hay 200 miligram. Ngoài ra đơn vị Carat còn được qui đổi ra point đối với những viên kim cương nhỏ hơn 1 carat. 1 carat= 100 point VD: Kim cương nặng 0.75 carat = 75 point. Một viên kim cương cắt mài chuẩn có trọng lượng 1 carat thì kích thước là 6.5mm. Trọng lượng càng lớn giá trị càng cao vì một viên kim cương lớn rất hiếm.
    </div>
    &nbsp;
    <div style="text-align: center;">
        <img alt="" src="@Url.Content("~/Content")/images/services/weight.jpg" style="width: 700px; height: 119px;">
    </div>
    <div style="text-align: justify;">
        &nbsp;
    </div>
    <div style="text-align: center;">
        <span class="title-article"><strong>BẢO QUẢN TRANG SỨC GẮN KIM CƯƠNG</strong></span>
    </div>
    <div style="text-align: justify;">
        <br>
        <span style="font-size: 12px;">
            <strong><span class="title-article">1. Đối với trang sức gắn đá quý</span></strong><br>
            <br>
            - Cất giữ Trang sức trong túi vải hay hộp đựng nữ trang riêng với các nữ trang khác,&nbsp;&nbsp;&nbsp;<br>
            - Xịt nước hoa hay Lotion trước khi đeo nữ trang, lưu ý: Nên đeo nữ trang sau cùng và tháo ra đầu tiên.<br>
            - Dùng miếng khăn mềm hay bàn chảy mềm vệ sinh nữ trang để tẩy dầu và các vết bẩn khác.<br>
            - Nên mang những sản phẩm đến nơi bạn mua để được kiểm tra (ít nhất 6 tháng một lần).<br>
            - Không nên để trang sức tiếp xúc với các loại hóa chất như nước hoa, thủy ngân, thuốc nhuộm tóc, sơn móng tay, lotion…vì sẽ ảnh hưởng đến màu và độ bóng của sản phẩm.<br>
            - Mồ hôi sẽ tích tụ bụi bẩn làm ảnh hưởng đến màu và độ bóng của trang sức vì vậy nên rửa sạch vài lần với nước sau đó dùng vải mềm lau lại sau khi sử dụng.<br>
            - Với trang sức có đính các loại đá hoặc xà cừ khi sử dụng nên tránh để bề mặt chà xát vào các vật cứng khác.<br>
            &nbsp;<br>
            <strong><span class="title-article">&nbsp;2. Đối với trang sức kim cương</span></strong><br>
            <br>
            - Không để trang sức kim cương chung với nhau. Vì trong quá trình bảo quản sẽ làm trang sức va chạm vào nhau gây ảnh hưởng đến kim cương gắn trên trang sức (kim cương tác động làm trầy kim cương) và có thể gây hư hỏng cho trang sức. Nên để từng loại trang sức trong những hộp chuyên dụng riêng biệt điều này giúp giữ cho trang sức sáng bền và bảo vệ an toàn cho đá chủ gắn trên trang sức.<br>
            - Trang sức gắn kim cương không nên làm sạch bằng phương pháp siêu âm và xịt tia nước nóng vì các nguyên nhân sau đây:<br>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong><span class="title-article">+ Đối với phương pháp siêu âm:</span></strong> Máy là sạch sử dụng sóng siêu âm là máy phát ra sóng tần số cao trong dung dịch hòa tan. Sóng này sẽ loại bỏ chất dơ và dầu tích tụ trên trang sức. Không may rằng, nó có thể là cho viên đá có thể bị lỏng ra. Nó an toàn đối với hầu hết kim cương có chất lượng cao, nhưng đối với kim cương cấp độ thấp hay có xử lý lấp đầy thì làm sạch bằng sóng siêu âm có thể tổn hại đến những vết nứt được trám hoặc gây tức đá gây thiệt hại.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong><span class="title-article">+ Đối với phương pháp xịt tia hơi nóng: </span></strong>Phương pháp sử dụng nước nóng được phun tia với áp suất cao nhằm loại bỏ các vết dơ trên trang sức. Phương pháp này không ảnh hưởng đến kim cương có cấp độ cao nhưng sẽ gây thiệt hại cho kim cương cấp độ thấp (kim cương có nứt lớn) vì khi phun tia nóng với áp lực lớn sẽ vô tình đẩy các chất dơ vào sâu trong các vết nứt kim cương khiến cho các vết nứt này có thể thấy rõ hơn. Ngoài ra khi phun hơi mạnh có thể khiến đá bị lỏng khỏi hệ thống chấu do áp lực tác động. Nhiều khi kim cương lỏng khỏi chấu bị áp lực thổi bay đi va chạm mạnh vào thành bồn rửa hoặc văng ra ngoài bồn gây phát sinh nứt mẻ, mất mát. Nếu có sử dụng phương pháp này nên giữ chặt trang sức hoặc đá bằng dụng cụ trước khi thực hiện làm sạch.
        </span><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong><span class="title-article">+ Cách làm sạch kim cương tại nhà an toàn</span></strong> nhất là sử dụng một khăn mềm cùng với bàn chải đánh răng kết hợp một chút kem đánh răng với nước ấm sẽ dễ dàng tẩy sạch các vết bẩn bám trên trang sức. Sau đó sẽ lau khô bằng khăn mềm. Nên định kỳ tẩy sạch trang sức kim cương 1 tháng 1 lần và 3 tháng đối với bảo hành định kỳ. Như vậy sẽ làm cho trang sức của bạn luôn sáng bóng và đảm bảo về tính sử dụng lâu dài.<br>
        &nbsp;
    </div>
    <div style="text-align: center;">
        <img alt="" src="@Url.Content("~/Content")/images/services/Taking-Care-Diamond-Jewellery.jpg" style="width: 300px; height: 300px;">
    </div>

</div>