@{
    ViewBag.Title = "Home Page";
}

@section Slide {
    @Html.Partial("_Slide")
}

@section Styles {
    <link href="@Url.Content("~/Content/css/default.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {

}

@section Modal {

}

<!-- FEATURED PRODUCTS -->
<h2 class="owl-featured"><strong>Sản Phẩm</strong> Nổi Bật</h2>
<div class="owl-carousel featured" data-plugin-options='{"singleItem": false, "stopOnHover":false, "autoPlay":true, "autoHeight": false, "navigation": true, "pagination": false}'>
    <div>
        <div class="owl-featured-item">
            <a class="figure" href="shop-page-full-product.html">
                <span><i class="fa fa-plus"></i></span>
                <img alt="" src="@Url.Content("~/Content")/images/products/sp2.png" width="230" />
            </a>
            <div class="owl-featured-detail">
                <a class="featured-title" href="shop-page-full-product.html">Lorem Ipsim Dolor</a>
                <span class="price"><span class="line-through styleColor">13.100.000 VNĐ</span> <strong>9.900.000 VNĐ</strong></span>
                <a href="shop-page-cart_2.html" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
            </div>
        </div>
    </div>
    <div>
        <div class="owl-featured-item">
            <a class="figure" href="shop-page-full-product.html">
                <span><i class="fa fa-plus"></i></span>
                <img alt="" src="@Url.Content("~/Content")/images/products/sp2.png" width="230" />
            </a>
            <div class="owl-featured-detail">
                <a class="featured-title" href="shop-page-full-product.html">Lorem Ipsim Dolor</a>
                <span class="price"><span class="line-through styleColor">13.100.000 VNĐ</span> <strong>9.900.000 VNĐ</strong></span>
                <a href="shop-page-cart_2.html" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
            </div>
        </div>
    </div>
    <div>
        <div class="owl-featured-item">
            <a class="figure" href="shop-page-full-product.html">
                <span><i class="fa fa-plus"></i></span>
                <img alt="" src="@Url.Content("~/Content")/images/products/sp2.png" width="230" />
            </a>
            <div class="owl-featured-detail">
                <a class="featured-title" href="shop-page-full-product.html">Lorem Ipsim Dolor</a>
                <span class="price"><span class="line-through styleColor">13.100.000 VNĐ</span> <strong>9.900.000 VNĐ</strong></span>
                <a href="shop-page-cart_2.html" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
            </div>
        </div>
    </div>
    <div>
        <div class="owl-featured-item">
            <a class="figure" href="shop-page-full-product.html">
                <span><i class="fa fa-plus"></i></span>
                <img alt="" src="@Url.Content("~/Content")/images/products/sp2.png" width="230" />
            </a>
            <div class="owl-featured-detail">
                <a class="featured-title" href="shop-page-full-product.html">Lorem Ipsim Dolor</a>
                <span class="price"><span class="line-through styleColor">13.100.000 VNĐ</span> <strong>9.900.000 VNĐ</strong></span>
                <a href="shop-page-cart_2.html" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
            </div>
        </div>
    </div>
    <div>
        <div class="owl-featured-item">
            <a class="figure" href="shop-page-full-product.html">
                <span><i class="fa fa-plus"></i></span>
                <img alt="" src="@Url.Content("~/Content")/images/products/sp2.png" width="230" />
            </a>
            <div class="owl-featured-detail">
                <a class="featured-title" href="shop-page-full-product.html">Lorem Ipsim Dolor</a>
                <span class="price"><span class="line-through styleColor">13.100.000 VNĐ</span> <strong>9.900.000 VNĐ</strong></span>
                <a href="shop-page-cart_2.html" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
            </div>
        </div>
    </div>
    <div>
        <div class="owl-featured-item">
            <a class="figure" href="shop-page-full-product.html">
                <span><i class="fa fa-plus"></i></span>
                <img alt="" src="@Url.Content("~/Content")/images/products/sp2.png" width="230" />
            </a>
            <div class="owl-featured-detail">
                <a class="featured-title" href="shop-page-full-product.html">Lorem Ipsim Dolor</a>
                <span class="price"><span class="line-through styleColor">13.100.000 VNĐ</span> <strong>9.900.000 VNĐ</strong></span>
                <a href="shop-page-cart_2.html" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
            </div>
        </div>
    </div>
    <div>
        <div class="owl-featured-item">
            <a class="figure" href="shop-page-full-product.html">
                <span><i class="fa fa-plus"></i></span>
                <img alt="" src="@Url.Content("~/Content")/images/products/sp2.png" width="230" />
            </a>
            <div class="owl-featured-detail">
                <a class="featured-title" href="shop-page-full-product.html">Lorem Ipsim Dolor</a>
                <span class="price"><span class="line-through styleColor">13.100.000 VNĐ</span> <strong>9.900.000 VNĐ</strong></span>
                <a href="shop-page-cart_2.html" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
            </div>
        </div>
    </div>
    <div>
        <div class="owl-featured-item">
            <a class="figure" href="shop-page-full-product.html">
                <span><i class="fa fa-plus"></i></span>
                <img alt="" src="@Url.Content("~/Content")/images/products/sp2.png" width="230" />
            </a>
            <div class="owl-featured-detail">
                <a class="featured-title" href="shop-page-full-product.html">Lorem Ipsim Dolor</a>
                <span class="price"><span class="line-through styleColor">13.100.000 VNĐ</span> <strong>9.900.000 VNĐ</strong></span>
                <a href="shop-page-cart_2.html" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
            </div>
        </div>
    </div>
</div>
<!-- /FEATURED PRODUCTS -->

<div class="divider">
    <!-- divider -->
    <i class="fa fa-star"></i>
</div>

<!-- FEATURED PRODUCTS -->
<h2 class="owl-featured"><strong>Sản Phẩm</strong> Bán Chạy</h2>
<div class="owl-carousel featured" data-plugin-options='{"singleItem": false, "stopOnHover":false, "autoPlay":true, "autoHeight": false, "navigation": true, "pagination": false}'>
    <div>
        <div class="owl-featured-item">
            <a class="figure" href="shop-page-full-product.html">
                <span><i class="fa fa-plus"></i></span>
                <img alt="" src="@Url.Content("~/Content")/images/products/sp2.png" width="230" />
            </a>
            <div class="owl-featured-detail">
                <a class="featured-title" href="shop-page-full-product.html">Lorem Ipsim Dolor</a>
                <span class="price"><span class="line-through styleColor">13.100.000 VNĐ</span> <strong>9.900.000 VNĐ</strong></span>
                <a href="shop-page-cart_2.html" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
            </div>
        </div>
    </div>
    <div>
        <div class="owl-featured-item">
            <a class="figure" href="shop-page-full-product.html">
                <span><i class="fa fa-plus"></i></span>
                <img alt="" src="@Url.Content("~/Content")/images/products/sp2.png" width="230" />
            </a>
            <div class="owl-featured-detail">
                <a class="featured-title" href="shop-page-full-product.html">Lorem Ipsim Dolor</a>
                <span class="price"><span class="line-through styleColor">13.100.000 VNĐ</span> <strong>9.900.000 VNĐ</strong></span>
                <a href="shop-page-cart_2.html" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
            </div>
        </div>
    </div>
    <div>
        <div class="owl-featured-item">
            <a class="figure" href="shop-page-full-product.html">
                <span><i class="fa fa-plus"></i></span>
                <img alt="" src="@Url.Content("~/Content")/images/products/sp2.png" width="230" />
            </a>
            <div class="owl-featured-detail">
                <a class="featured-title" href="shop-page-full-product.html">Lorem Ipsim Dolor</a>
                <span class="price"><span class="line-through styleColor">13.100.000 VNĐ</span> <strong>9.900.000 VNĐ</strong></span>
                <a href="shop-page-cart_2.html" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
            </div>
        </div>
    </div>
    <div>
        <div class="owl-featured-item">
            <a class="figure" href="shop-page-full-product.html">
                <span><i class="fa fa-plus"></i></span>
                <img alt="" src="@Url.Content("~/Content")/images/products/sp2.png" width="230" />
            </a>
            <div class="owl-featured-detail">
                <a class="featured-title" href="shop-page-full-product.html">Lorem Ipsim Dolor</a>
                <span class="price"><span class="line-through styleColor">13.100.000 VNĐ</span> <strong>9.900.000 VNĐ</strong></span>
                <a href="shop-page-cart_2.html" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
            </div>
        </div>
    </div>
    <div>
        <div class="owl-featured-item">
            <a class="figure" href="shop-page-full-product.html">
                <span><i class="fa fa-plus"></i></span>
                <img alt="" src="@Url.Content("~/Content")/images/products/sp2.png" width="230" />
            </a>
            <div class="owl-featured-detail">
                <a class="featured-title" href="shop-page-full-product.html">Lorem Ipsim Dolor</a>
                <span class="price"><span class="line-through styleColor">13.100.000 VNĐ</span> <strong>9.900.000 VNĐ</strong></span>
                <a href="shop-page-cart_2.html" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
            </div>
        </div>
    </div>
    <div>
        <div class="owl-featured-item">
            <a class="figure" href="shop-page-full-product.html">
                <span><i class="fa fa-plus"></i></span>
                <img alt="" src="@Url.Content("~/Content")/images/products/sp2.png" width="230" />
            </a>
            <div class="owl-featured-detail">
                <a class="featured-title" href="shop-page-full-product.html">Lorem Ipsim Dolor</a>
                <span class="price"><span class="line-through styleColor">13.100.000 VNĐ</span> <strong>9.900.000 VNĐ</strong></span>
                <a href="shop-page-cart_2.html" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
            </div>
        </div>
    </div>
    <div>
        <div class="owl-featured-item">
            <a class="figure" href="shop-page-full-product.html">
                <span><i class="fa fa-plus"></i></span>
                <img alt="" src="@Url.Content("~/Content")/images/products/sp2.png" width="230" />
            </a>
            <div class="owl-featured-detail">
                <a class="featured-title" href="shop-page-full-product.html">Lorem Ipsim Dolor</a>
                <span class="price"><span class="line-through styleColor">13.100.000 VNĐ</span> <strong>9.900.000 VNĐ</strong></span>
                <a href="shop-page-cart_2.html" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
            </div>
        </div>
    </div>
    <div>
        <div class="owl-featured-item">
            <a class="figure" href="shop-page-full-product.html">
                <span><i class="fa fa-plus"></i></span>
                <img alt="" src="@Url.Content("~/Content")/images/products/sp2.png" width="230" />
            </a>
            <div class="owl-featured-detail">
                <a class="featured-title" href="shop-page-full-product.html">Lorem Ipsim Dolor</a>
                <span class="price"><span class="line-through styleColor">13.100.000 VNĐ</span> <strong>9.900.000 VNĐ</strong></span>
                <a href="shop-page-cart_2.html" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
            </div>
        </div>
    </div>
</div>
<!-- /FEATURED PRODUCTS -->

<div class="divider">
    <!-- divider -->
    <i class="fa fa-star"></i>
</div>

<!-- PRODUCT LIST -->
<div class="row margin-top60">

    <div class="col-md-3">

        <!-- SIDE NAV -->
        <ul class="side-nav list-group" id="sidebar-nav">

            <li class="list-group-item list-toggle">
                <!-- NOTE: "active" to be open on page load -->
                <a data-toggle="collapse" data-parent="#sidebar-nav" href="shop-home-1.html#collapse-1">Nữ trang 18k</a>
                <ul id="collapse-1" class="collapse">
                    <!-- NOTE: "collapse in" to be open on page load -->
                    <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Nhẫn</a></li>
                    <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Kim Cương</a></li>
                </ul>
            </li>

            <li class="list-group-item list-toggle">
                <!-- NOTE: "active" to be open on page load -->
                <a data-toggle="collapse" data-parent="#sidebar-nav" href="shop-home-1.html#collapse-2">Nữ trang 24k</a>
                <ul id="collapse-2" class="collapse">
                    <!-- NOTE: "collapse in" to be open on page load -->
                    <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Nhẫn</a></li>
                    <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Kim Cương</a></li>
                </ul>
            </li>

            <li class="list-group-item list-toggle">
                <!-- NOTE: "active" to be open on page load -->
                <a data-toggle="collapse" data-parent="#sidebar-nav" href="shop-home-1.html#collapse-3">Nữ trang NTJ</a>
                <ul id="collapse-3" class="collapse">
                    <!-- NOTE: "collapse in" to be open on page load -->
                    <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Nhẫn</a></li>
                    <li><a href="shop-page-sidebar.html"><i class="fa fa-angle-right"></i> Kim Cương</a></li>
                </ul>
            </li>

            <li class="list-group-item"><a href="shop-page-sidebar.html">Nữ trang hộp sáp</a></li>

        </ul>
        <!-- /SIDE NAV -->
        <!-- BANNER -->
        <hr class="half-margins invisible" />

        <a class="hidden-sm" href="../../../wrapbootstrap.com/theme/epona-responsive-website-template-WB0464P7N.htm" rel="nofollow" target="_blank">
            <img class="img-responsive" src="@Url.Content("~/Content")/images/shop_banner.png" alt="" />
        </a>
        <!-- /BANNER -->
        <!-- FACEBOOK -->

    </div>

    <div class="col-md-9">

        <!-- PRODUCT LIST -->
        <div class="row">

            <div class="col-md-4 col-sm-4">
                <!-- item -->
                <a class="shop-item-list" href="shop-page-full-product.html">
                    <figure>
                        <!-- image -->
                        <img class="img-responsive" src="@Url.Content("~/Content")/images/products/sp4.png" alt="" />
                    </figure><!-- /image -->
                    <span class="shop-stock-info stock-no">
                        <!-- stock -->
                        <i class="fa fa-times"></i> hết hàng
                    </span><!-- /stock -->
                    <div class="product-info">
                        <!-- title and price -->
                        <h2>
                            <span class="product-name">Lorem ipsum dolor</span>
                            <span class="bold">9.000.000 VNĐ</span> <span class="line-through">12.000.000 VNĐ</span>
                        </h2>
                    </div><!-- /title and price -->

                </a>
            </div><!-- /item -->

            <div class="col-md-4 col-sm-4">
                <!-- item -->
                <a class="shop-item-list" href="shop-page-full-product.html">
                    <figure>
                        <!-- image -->
                        <img class="img-responsive" src="@Url.Content("~/Content")/images/products/sp3.png" alt="" />
                    </figure><!-- /image -->
                    <span class="shop-stock-info stock-yes">
                        <!-- stock -->
                        <i class="fa fa-check"></i> in stock
                    </span><!-- /stock -->
                    <div class="product-info">
                        <!-- title and price -->
                        <h2>
                            <span class="product-name">Lorem ipsum dolor</span>
                            <span class="bold">9.000.000 VNĐ</span> <span class="line-through">12.000.000 VNĐ</span>
                        </h2>
                    </div><!-- /title and price -->

                </a>
            </div><!-- /item -->

            <div class="col-md-4 col-sm-4">
                <!-- item -->
                <a class="shop-item-list" href="shop-page-full-product.html">
                    <figure>
                        <!-- image -->
                        <img class="img-responsive" src="@Url.Content("~/Content")/images/products/sp5.png" alt="" />
                    </figure><!-- /image -->
                    <span class="shop-stock-info stock-no">
                        <!-- stock -->
                        <i class="fa fa-times"></i> hết hàng
                    </span><!-- /stock -->
                    <div class="product-info">
                        <!-- title and price -->
                        <h2>
                            <span class="product-name">Lorem ipsum dolor</span>
                            <span class="bold">9.000.000 VNĐ</span> <span class="line-through">12.000.000 VNĐ</span>
                        </h2>
                    </div><!-- /title and price -->

                </a>
            </div><!-- /item -->

            <div class="col-md-4 col-sm-4">
                <!-- item -->
                <a class="shop-item-list" href="shop-page-full-product.html">
                    <figure>
                        <!-- image -->
                        <img class="img-responsive" src="@Url.Content("~/Content")/images/products/sp3.png" alt="" />
                    </figure><!-- /image -->
                    <span class="shop-stock-info stock-yes">
                        <!-- stock -->
                        <i class="fa fa-check"></i> in stock
                    </span><!-- /stock -->
                    <div class="product-info">
                        <!-- title and price -->
                        <h2>
                            <span class="product-name">Lorem ipsum dolor</span>
                            <span class="bold">9.000.000 VNĐ</span> <span class="line-through">12.000.000 VNĐ</span>
                        </h2>
                    </div><!-- /title and price -->

                </a>
            </div><!-- /item -->

            <div class="col-md-4 col-sm-4">
                <!-- item -->
                <a class="shop-item-list" href="shop-page-full-product.html">
                    <figure>
                        <!-- image -->
                        <img class="img-responsive" src="@Url.Content("~/Content")/images/products/sp1.png" alt="" />
                    </figure><!-- /image -->
                    <span class="shop-stock-info stock-yes">
                        <!-- stock -->
                        <i class="fa fa-check"></i> in stock
                    </span><!-- /stock -->
                    <div class="product-info">
                        <!-- title and price -->
                        <h2>
                            <span class="product-name">Lorem ipsum dolor</span>
                            <span class="bold">9.000.000 VNĐ</span> <span class="line-through">12.000.000 VNĐ</span>
                        </h2>
                    </div><!-- /title and price -->

                </a>
            </div><!-- /item -->

            <div class="col-md-4 col-sm-4">
                <!-- item -->
                <a class="shop-item-list" href="shop-page-full-product.html">
                    <figure>
                        <!-- image -->
                        <img class="img-responsive" src="@Url.Content("~/Content")/images/products/sp5.png" alt="" />
                    </figure><!-- /image -->
                    <span class="shop-stock-info stock-no">
                        <!-- stock -->
                        <i class="fa fa-times"></i> hết hàng
                    </span><!-- /stock -->
                    <div class="product-info">
                        <!-- title and price -->
                        <h2>
                            <span class="product-name">Lorem ipsum dolor</span>
                            <span class="bold">9.000.000 VNĐ</span> <span class="line-through">12.000.000 VNĐ</span>
                        </h2>
                    </div><!-- /title and price -->

                </a>
            </div><!-- /item -->

            <div class="col-md-4 col-sm-4">
                <!-- item -->
                <a class="shop-item-list" href="shop-page-full-product.html">
                    <figure>
                        <!-- image -->
                        <img class="img-responsive" src="@Url.Content("~/Content")/images/products/sp4.png" alt="" />
                    </figure><!-- /image -->
                    <span class="shop-stock-info stock-no">
                        <!-- stock -->
                        <i class="fa fa-times"></i> hết hàng
                    </span><!-- /stock -->
                    <div class="product-info">
                        <!-- title and price -->
                        <h2>
                            <span class="product-name">Lorem ipsum dolor</span>
                            <span class="bold">9.000.000 VNĐ</span> <span class="line-through">12.000.000 VNĐ</span>
                        </h2>
                    </div><!-- /title and price -->

                </a>
            </div><!-- /item -->

            <div class="col-md-4 col-sm-4">
                <!-- item -->
                <a class="shop-item-list" href="shop-page-full-product.html">
                    <figure>
                        <!-- image -->
                        <img class="img-responsive" src="@Url.Content("~/Content")/images/products/sp3.png" alt="" />
                    </figure><!-- /image -->
                    <span class="shop-stock-info stock-no">
                        <!-- stock -->
                        <i class="fa fa-times"></i> hết hàng
                    </span><!-- /stock -->
                    <div class="product-info">
                        <!-- title and price -->
                        <h2>
                            <span class="product-name">Lorem ipsum dolor</span>
                            <span class="bold">9.000.000 VNĐ</span> <span class="line-through">12.000.000 VNĐ</span>
                        </h2>
                    </div><!-- /title and price -->

                </a>
            </div><!-- /item -->

            <div class="col-md-4 col-sm-4">
                <!-- item -->
                <a class="shop-item-list" href="shop-page-full-product.html">
                    <figure>
                        <!-- image -->
                        <img class="img-responsive" src="@Url.Content("~/Content")/images/products/sp1.png" alt="" />
                    </figure><!-- /image -->
                    <span class="shop-stock-info stock-yes">
                        <!-- stock -->
                        <i class="fa fa-check"></i> in stock
                    </span><!-- /stock -->
                    <div class="product-info">
                        <!-- title and price -->
                        <h2>
                            <span class="product-name">Lorem ipsum dolor</span>
                            <span class="bold">9.000.000 VNĐ</span> <span class="line-through">12.000.000 VNĐ</span>
                        </h2>
                    </div><!-- /title and price -->

                </a>
            </div><!-- /item -->

        </div>
        <!-- /PRODUCT LIST -->

    </div>

</div>
<!-- /PRODUCT LIST -->
