@model IEnumerable<W_GJS.Models.O_BRANCH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<h2>Danh sách</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BRANCH_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRANCH_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITIES_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CITIES_DETAIL_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LONGITUDE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LATITUDE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BRANCH_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRANCH_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.O_CITIES.CITIES_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.D_CITIES_DETAIL.CITIES_DETAIL_NAME)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LONGITUDE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LATITUDE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHONE)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit",new { BRANCH_CD = item.BRANCH_CD }) |
            @if (item.ACTIVE == false)
            {
              @Html.ActionLink("Kích hoạt", "Active", new { BRANCH_CD = item.BRANCH_CD }) 
            }
            else
            {
              @Html.ActionLink("Xóa", "Deactive", new { BRANCH_CD = item.BRANCH_CD })
           }
        </td>
    </tr>
}

</table>
