@model IEnumerable<W_GJS.Models.O_CATEGORY_ALBUM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.CATEGORY_ALBUM_NAME)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY_ALBUM_NAME)
        </td>
       
        <td>
            @Html.ActionLink("Sửa", "Edit", new { CATEGORY_ALBUM_CD = item.CATEGORY_ALBUM_CD }) |
            @if (item.ACTIVE == false)
            {
                @Html.ActionLink("Kích hoạt", "Active", new { CATEGORY_ALBUM_CD = item.CATEGORY_ALBUM_CD })
            }
            else
            {
                @Html.ActionLink("Xóa", "Deactive", new { CATEGORY_ALBUM_CD = item.CATEGORY_ALBUM_CD })
            }
        </td>
    </tr>
}

</table>
