
@{
    
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Shared/_ShopLayout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Self/news/css/mainstyles.css")" rel="stylesheet" type="text/css" />
}

<h2 class="owl-featured">TIN TỨC</h2>
<div class="wrapper" align="center">
    <div id="content" style="margin-top:40px;">
        <!-- InstanceBeginEditable name="ContentThongTin" -->
        <div id="leftpanel_thongtin">
            <div id="contentthongtinvang" style="line-height:20px;">
                <h2>BNP Paribas dự đoán giá vàng vượt ngưỡng $1,600 trong 6 tháng tới</h2>
                <div id="date">01/08/2014 | Nguồn: Giavang.net</div>
                <p style="text-align: justify;">
                    <em>“Nếu không có sự gia tăng đáng kể trong tỷ lệ lãi suất thực, sẽ chẳng có “cơn gió ngược” lớn mạnh nào có thể ngăn cản được gói QE3 kéo giá vàng đi lên thông qua sự suy yếu của đồng USD”.&nbsp;</em>
                </p>
                <p style="text-align: justify;">
                    Cuối tuần trước, BNP Paribas đã cắt giảm triển vọng giá vàng trong năm nay và năm tới. Tuy nhiên, họ vẫn kỳ vọng kim loại quý sẽ giao dịch trên ngưỡng $1,600 trong vòng 6 tháng tới.
                </p>

                <p style="text-align: justify;">
                    Theo đó, BNP dự đoán vàng sẽ có mức giá trung bình $1,580/oz trong năm nay, giảm 5% so với dự đoán trước đó họ đã đưa ra. Đối với năm 2014, con số trung bình sẽ là $1,520/oz, cũng thấp hơn 5% so với kỳ vọng trước đó.
                </p>

                <p style="text-align: justify;">
                    Thay đổi này được BNP Paribas đưa ra sau những biến động mạnh mẽ gần đây của thị trường, đặc biệt là bước giảm hơn $200 trong 2 phiên giao dịch hồi trung tuần tháng 4. Kể từ khi lập mức thấp hơn 2 năm tại $1,321.50/oz ngày 16/4, quý kim đã hồi phục khoảng 10% nhưng vẫn mất tới 13.5% kể từ đầu năm tới nay.
                </p>

                <p style="text-align: justify;">
                    Bất chấp những khó khăn này, chuyên gia Harry Tchilinguirian và Stephen Briggs của BNP Paribas vẫn hi vọng những yếu tố cơ bản sẽ hỗ trợ giá vàng đi lên.
                </p>

                <p style="text-align: justify;">
                    “Ít nhất là FED sẽ tiếp tục chương trình nới lỏng tiền tệ của mình tới năm 2014”- họ nói.
                </p>

                <p style="text-align: justify;">
                    ”Thanh khoản tăng sẽ khiến đồng dollar suy yếu, từ đó hỗ trợ thị trường vàng bởi nhu cầu các tài sản thực định giá bằng đồng dollar sẽ tăng”- ông Tchilinguirian và ông Briggs chia sẻ.
                </p>

                <p style="text-align: justify;">
                    “Và tất nhiên là, một đồng dollar suy yếu cũng sẽ khuyến khích các ngân hàng trung ương mua vàng với mục tiêu đa dạng hóa kho dự trữ. Đây chính là động thái cần thiết mà Nga, Philippin và Brazil đã làm trong năm 2012”.
                </p>

                <p style="text-align: justify;">
                    Theo họ, tỷ lệ lạm phát tăng và tỷ lệ lãi suất thực thấp sẽ tiếp tục là đòn bẩy mạnh cho thị trường.
                </p>

                <p style="text-align: justify;">
                    “Nếu không có sự gia tăng đáng kể trong tỷ lệ lãi suất thực, sẽ chẳng có “cơn gió ngược” lớn mạnh nào có thể ngăn cản được gói QE3 kéo giá vàng đi lên thông qua sự suy yếu của đồng USD”.
                </p>

                <p style="text-align: justify;">
                    Do đó, vàng sẽ di chuyển trở lại trên ngưỡng $1,500/oz trong vòng 3 tháng tới và giao dịch trên vùng $1,600/oz trong 6 tháng tới- ông Tchilinguirian và ông Briggs kết luận.
                </p>

                <p style="text-align: center;">
                    <img alt="" src="http://pnj.com.vn/ftp/bai up web PNJ/Marry Wedding 2/PNJ-hanh-phuc-vang-4.jpg" style="width: 500px; height: 684px;">
                </p>

            </div>
            <div class="enter">
            </div>
            <br>
            <div id="tinkhac">
                <h5 class="title-highlight-news">
                    CÁC TIN MỚi
                </h5>
                <ul>
                    <li><a href="@Url.Action("NewsDetail", "Home")">Thanh tra trách nhiệm Chủ tịch TP.HCM Lê Hoàng Quân (14/11/2013)</a></li>
                    <li><a href="@Url.Action("NewsDetail", "Home")">Góc nhìn thị trường chứng khoán ngày 7/8 của nhà đầu tư (14/11/2013)</a></li>
                    <li><a href="@Url.Action("NewsDetail", "Home")">Công ty chứng khoán nhận định thị trường ngày 07/8 (25/10/2013)</a></li>
                    <li><a href="@Url.Action("NewsDetail", "Home")">7 bài học để đối phó khi “bong bóng” bất động sản xảy ra (13/08/2013)</a></li>
                    <li><a href="@Url.Action("NewsDetail", "Home")">Phân tích kỹ thuật chứng khoán 7/8 (05/09/2012)</a></li>
                    <li><a href="@Url.Action("NewsDetail", "Home")">Lo ngại mất thị phần, Vicostone chấp nhận để đối thủ thâu tóm (07/03/2012)</a></li>
                    <li><a href="@Url.Action("NewsDetail", "Home")">Những con số “giật mình” về kết quả các đợt IPO nửa đầu năm 2014 (06/02/2012)</a></li>
                    <li><a href="@Url.Action("NewsDetail", "Home")">Xin việc ngành nào khó nhất? (30/12/2011)</a></li>
                    <li><a href="@Url.Action("NewsDetail", "Home")">Ông Dũng 'lò vôi' đề nghị Thủ tướng cho phúc tra vụ kiện Chủ tịch tỉnh Bình Dương (01/11/2011)</a></li>
                    <li><a href="@Url.Action("NewsDetail", "Home")">VnIndex ngập ngừng quanh ngưỡng 606 điểm (21/01/2011)</a></li>
                    <li><a href="@Url.Action("NewsDetail", "Home")">“Không nên cho người nước ngoài mua nhà đơn lẻ” (21/01/2011)</a></li>
                </ul>
            </div>
        </div>
        <div id="rightpanel_thongtin">
            <div id="thongtin_panel">
                <div id="newsvideo">
                    <div id="newsvideocontent">
                        <div id="videokhac">
                            <h5 class="title-highlight-news">TIN TỨC NỔI BẬT</h5>
                            <ul>
                                <li><a href="@Url.Action("NewsDetail", "Home")">Thanh tra trách nhiệm Chủ tịch TP.HCM Lê Hoàng Quân (14/11/2013)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">Góc nhìn thị trường chứng khoán ngày 7/8 của nhà đầu tư (14/11/2013)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">Công ty chứng khoán nhận định thị trường ngày 07/8 (25/10/2013)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">7 bài học để đối phó khi “bong bóng” bất động sản xảy ra (13/08/2013)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">Phân tích kỹ thuật chứng khoán 7/8 (05/09/2012)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">Lo ngại mất thị phần, Vicostone chấp nhận để đối thủ thâu tóm (07/03/2012)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">Những con số “giật mình” về kết quả các đợt IPO nửa đầu năm 2014 (06/02/2012)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">Xin việc ngành nào khó nhất? (30/12/2011)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">Ông Dũng 'lò vôi' đề nghị Thủ tướng cho phúc tra vụ kiện Chủ tịch tỉnh Bình Dương (01/11/2011)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">VnIndex ngập ngừng quanh ngưỡng 606 điểm (21/01/2011)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">“Không nên cho người nước ngoài mua nhà đơn lẻ” (21/01/2011)</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="enter"> </div>
</div>