@{
    ViewBag.Title = "ShowAlbum";
    W_GJS.Models.GJSEntities gjs = new W_GJS.Models.GJSEntities();
    List<W_GJS.Models.O_CATEGORY_PRODUCT> listcategory = gjs.O_CATEGORY_PRODUCT.Where(t => t.ACTIVE == true).ToList();
}

@section PageTitle {
    <section class="page-title">
        <div class="container">

            <header>

                <ul class="breadcrumb">
                    <!-- breadcrumb -->
                    <li><a href="@Url.Action("Index")">Trang Chủ</a></li>
                    <li class="active">Album</li>
                </ul><!-- /breadcrumb -->

                <h2>
                    <!-- Page Title -->
                    <strong>Album</strong>
                </h2><!-- /Page Title -->

            </header>

        </div>
    </section>
}
<h2 class="owl-featured margin-bottom-30 margin-top20"><strong>Album 1</strong></h2>
<div class="row">
    <span class="col-xs-3">
        <a href="@Url.Content("~/Content/images/products/sp1.png")"
           data-target="flare"
           data-flare-gallery="gallery1"
           data-flare-thumb="@Url.Content("~/Content/images/products/sp1.png")"
           data-flare-bw="@Url.Content("~/Content/images/products/sp1.png")">
            <img src="@Url.Content("~/Content/images/products/sp1.png")" alt="project" class="img-responsive" />
        </a>
    </span>
    <span class="col-xs-3">
        <a href="@Url.Content("~/Content/images/products/sp2.png")"
           data-target="flare"
           data-flare-gallery="gallery1"
           data-flare-thumb="@Url.Content("~/Content/images/products/sp2.png")"
           data-flare-bw="@Url.Content("~/Content/images/products/sp2.png")">
            <img src="@Url.Content("~/Content/images/products/sp2.png")" alt="project" class="img-responsive" />
        </a>
    </span>
    <span class="col-xs-3">
        <a href="@Url.Content("~/Content/images/products/sp3.png")"
           data-target="flare"
           data-flare-gallery="gallery1"
           data-flare-thumb="@Url.Content("~/Content/images/products/sp3.png")"
           data-flare-bw="@Url.Content("~/Content/images/products/sp3.png")">
            <img src="@Url.Content("~/Content/images/products/sp3.png")" alt="project" class="img-responsive" />
        </a>
    </span>
</div>
<h2 class="owl-featured margin-bottom-30 margin-top20"><strong>Album 2</strong></h2>
<div class="row">
    <span class="col-xs-3">
        <a href="@Url.Content("~/Content/images/products/sp1.png")"
           data-target="flare"
           data-flare-gallery="gallery2"
           data-flare-thumb="@Url.Content("~/Content/images/products/sp1.png")"
           data-flare-bw="@Url.Content("~/Content/images/products/sp1.png")">
            <img src="@Url.Content("~/Content/images/products/sp1.png")" alt="project" class="img-responsive" />
        </a>
    </span>
    <span class="col-xs-3">
        <a href="@Url.Content("~/Content/images/products/sp2.png")"
           data-target="flare"
           data-flare-gallery="gallery2"
           data-flare-thumb="@Url.Content("~/Content/images/products/sp2.png")"
           data-flare-bw="@Url.Content("~/Content/images/products/sp2.png")">
            <img src="@Url.Content("~/Content/images/products/sp2.png")" alt="project" class="img-responsive" />
        </a>
    </span>
</div>

@*@foreach (var item in listcategory)
    {
        if (item.O_PRODUCT.Count > 0)
        {
            <h2 class="owl-featured margin-bottom-30 margin-top20"><strong>@item.CATEGORY_PRODUCT_NAME</strong></h2>
    <div class="row lightbox" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>
        @foreach (var itemproduct in item.O_PRODUCT)
        {
            if (itemproduct.O_PRODUCT_CATALOG != null || itemproduct.O_PRODUCT_CATALOG.Count > 0)
            {
                <div class="col-sm-3 col-md-3">
                    <div class="box-content thumbnail text-center">
                        <a href="@itemproduct.URL_IMAGE" class="item-image">
                            <img class="img-responsive" src="@itemproduct.URL_IMAGE" alt="" />
                        </a>
                    </div>
                </div>
            }
        }
    </div>
        }
    }*@
