@{
    ViewBag.Title = "News Gold";
}

@section Styles {
    <link href="@Url.Content("~/Self/news/css/mainstyles.css")" rel="stylesheet" type="text/css" />
}


<h2 class="owl-featured">TIN TÀI CHÍNH THẾ GIỚI</h2>
<div class="wrapper" align="center">
    <div id="content" style="margin-top:40px;">
        <!-- InstanceBeginEditable name="ContentThongTin" -->
        <div id="leftpanel_thongtin">
            <div class="enter">
            </div>
            <div id="contentTinTuc">
                <div class="imghomenews"> <img width="300" src="@Url.Content("~/Content")/images/news/small/PNJ_News_320.jpg" align=""> </div>
                <div id="tintuc_home_copy" style="width:260px">
                    <h4><a href="@Url.Action("NewsDetail", "Home")">BNP Paribas dự đoán giá vàng vượt ngưỡng $1,600 trong 6 tháng tới</a></h4>
                    “Nếu không có sự gia tăng đáng kể trong tỷ lệ lãi suất thực, sẽ chẳng có “cơn gió ngược” lớn mạnh nào có thể ngăn cản được gói QE3 kéo giá vàng đi lên thông qua sự suy yếu của đồng USD”.<br>
                    <div align="right"><a href="@Url.Action("NewsDetail", "Home")">Xem thêm</a></div>
                </div><div class="enter"><br> <hr noshade="noshade" width="90%"></div>

                <div class="imghomenews"> <img width="100" src="@Url.Content("~/Content")/images/news/small/pic1.jpg" align=""> </div>
                <div id="tintuc_home_copy" style="width:410px">
                    <h4><a href="@Url.Action("NewsDetail", "Home")">VnIndex ngập ngừng quanh ngưỡng 606 điểm</a></h4>
                    Phía giảm điểm hôm nay không có những “cú sốc”. Đa phần cổ phiếu chỉ giảm từ 500-1.000 đồng/cổ phiếu. Những bluechips giảm điểm hôm nay phải kể đến như MWG, MSN, PVD giảm 1.000 đồng/cp; HSG, HPG, DRC giảm 500 đồng; CSM giảm 400 đồng…<br>
                    <div align="right"><a href="@Url.Action("NewsDetail", "Home")">Xem thêm</a></div>
                </div><div class="enter"> </div>
                <div class="imghomenews"> <img width="100" src="@Url.Content("~/Content")/images/news/small/pic2.jpg" align=""> </div>
                <div id="tintuc_home_copy" style="width:410px">
                    <h4><a href="@Url.Action("NewsDetail", "Home")">“Không nên cho người nước ngoài mua nhà đơn lẻ”</a></h4>
                    Cách đây không lâu, khi góp ý cho dự thảo này, Bộ trưởng Bộ Kế hoạch và Đầu tư Bùi Quang Vinh cũng từng chia sẻ “Chúng ta có tư duy trì trệ, sợ họ mua nhà rồi "chiếm" Việt Nam. Thực ra khối bất động sản bị tồn đọng mà tôi giải trình trước Quốc hội chủ yếu là căn hộ cao cấp. Nhiều biệt thự để trống mà số lượng người nước ngoài vào định cư ở Việt Nam khi ta hội nhập quốc tế đang tăng lên. Họ mua thì cũng chẳng chết ai”.<br>
                    <div align="right"><a href="@Url.Action("NewsDetail", "Home")">Xem thêm</a></div>
                </div><div class="enter"> </div>
                <div class="imghomenews"> <img width="100" src="@Url.Content("~/Content")/images/news/small/pic3.jpg" align=""> </div>
                <div id="tintuc_home_copy" style="width:410px">
                    <h4><a href="@Url.Action("NewsDetail", "Home")">Vì sao Tràng Tiền Plaza phải đóng cửa tạm thời để “tái cấu trúc”?</a></h4>
                    Trung tâm Thương mại Tràng Tiền cũ được công ty IPP đầu tư với hơn 400 tỷ đồng để nâng cấp và sửa chữa Tràng Tiền cũ thành một Tràng Tiền Plaza với nội thất sang trọng và đưa các thương hiệu thời trang đình đám vào trung tâm thương mại này để bán lẻ. Thế nhưng sau 2 năm hoạt động, không thực sự hiệu quả và Tràng Tiền phải đóng cửa để tái cấu trúc, cũng có nhiều gian hàng của các chủ đầu tư cũng đã phải đóng cửa tại đây để cắt lỗ. <br>
                    <div align="right"><a href="@Url.Action("NewsDetail", "Home")">Xem thêm</a></div>
                </div><div class="enter"> </div>
                <div class="imghomenews"> <img width="100" src="@Url.Content("~/Content")/images/news/small/pic4.jpg" align=""> </div>
                <div id="tintuc_home_copy" style="width:410px">
                    <h4><a href="@Url.Action("NewsDetail", "Home")">Thanh tra trách nhiệm Chủ tịch TP.HCM Lê Hoàng Quân</a></h4>
                    Hôm qua (6.8), tại trụ sở UBND TP.HCM, Phó tổng Thanh tra Chính phủ Nguyễn Chiến Bình đã chủ trì cuộc họp công bố Quyết định số 1642/QĐ-TTCP của Thanh tra Chính phủ (ký ngày 17.7.2014) về việc thành lập Đoàn thanh tra trách nhiệm của Chủ tịch UBND TP.HCM Lê Hoàng Quân trong việc thực hiện pháp luật về thanh tra, giải quyết khiếu nại, tố cáo và phòng chống tham nhũng.<br>
                    <div align="right"><a href="@Url.Action("NewsDetail", "Home")">Xem thêm</a></div>
                </div><div class="enter"> </div>
                <div class="imghomenews"> <img width="100" src="@Url.Content("~/Content")/images/news/small/pic5.jpg" align=""> </div>
                <div id="tintuc_home_copy" style="width:410px">
                    <h4><a href="@Url.Action("NewsDetail", "Home")">Góc nhìn thị trường chứng khoán ngày 7/8 của nhà đầu tư</a></h4>
                    Thị trường có lực cầu khá tốt, tuy nhiên KL vẫn chưa tăng được đáng kể, hôm nay xuất hiện dấu hiệu bán mạnh hơn những phiên trước. MACD đã vượt EXP và Divergence dương trở lại cho thấy xu thế tốt lên trong ngắn hạn. Bolinger Bands mở rộng nhanh và đường giá nằm dưới cận trên của đường này. Các chỉ báo do động nhanh cho tin hiệu tích cực. Có thể CP về TK giá thấp nên hoạt động bán mạnh hơn, thị trường không giữ được 610 cũng là nguyên nhân. Để xuyên được mốc 610 cũng cần cân bằng một số phiên nhất định.<br>
                    <div align="right"><a href="@Url.Action("NewsDetail", "Home")">Xem thêm</a></div>
                </div><div class="enter"> </div>

            </div>
        </div>
        <div id="rightpanel_thongtin">
            <div id="thongtin_panel">
                <div id="newsvideo">
                    <div id="newsvideocontent">
                        <div id="videokhac">
                            <h5 class="title-highlight-news">TIN TỨC NỔI BẬT</h5>
                            <ul>
                                <li><a href="@Url.Action("NewsDetail", "Home")">Thanh tra trách nhiệm Chủ tịch TP.HCM Lê Hoàng Quân (14/11/2013)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">Góc nhìn thị trường chứng khoán ngày 7/8 của nhà đầu tư (14/11/2013)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">Công ty chứng khoán nhận định thị trường ngày 07/8 (25/10/2013)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">7 bài học để đối phó khi “bong bóng” bất động sản xảy ra (13/08/2013)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">Phân tích kỹ thuật chứng khoán 7/8 (05/09/2012)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">Lo ngại mất thị phần, Vicostone chấp nhận để đối thủ thâu tóm (07/03/2012)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">Những con số “giật mình” về kết quả các đợt IPO nửa đầu năm 2014 (06/02/2012)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">Xin việc ngành nào khó nhất? (30/12/2011)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">Ông Dũng 'lò vôi' đề nghị Thủ tướng cho phúc tra vụ kiện Chủ tịch tỉnh Bình Dương (01/11/2011)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">VnIndex ngập ngừng quanh ngưỡng 606 điểm (21/01/2011)</a></li>
                                <li><a href="@Url.Action("NewsDetail", "Home")">“Không nên cho người nước ngoài mua nhà đơn lẻ” (21/01/2011)</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- InstanceEndEditable -->
    </div>
    <div class="enter"> </div>
</div>