@{
    ViewBag.Title = "ShowAlbum";
}

<h2 class="owl-featured margin-bottom-30 margin-top20"><strong>ALBUM ẢNH CƯỚI</strong></h2>

<div class="row lightbox" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

    <div class="col-sm-3 col-md-3">
        <div class="box-content thumbnail text-center">
            <a href="@Url.Content("~/Content/images/products/sp1.png")" class="item-image">
                <img class="img-responsive" src="@Url.Content("~/Content/images/products/sp1.png")" alt="" />
            </a>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="box-content thumbnail text-center">
            <a href="@Url.Content("~/Content/images/products/sp3.png")" class="item-image">
                <img class="img-responsive" src="@Url.Content("~/Content/images/products/sp3.png")" alt="" />
            </a>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="box-content thumbnail text-center">
            <a href="@Url.Content("~/Content/images/products/sp5.png")" class="item-image">
                <img class="img-responsive" src="@Url.Content("~/Content/images/products/sp2.png")" alt="" />
            </a>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="box-content thumbnail text-center">
            <a href="@Url.Content("~/Content/images/products/sp4.png")" class="item-image">
                <img class="img-responsive" src="@Url.Content("~/Content/images/products/sp4.png")" alt="" />
            </a>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="box-content thumbnail text-center">
            <a href="@Url.Content("~/Content/images/products/sp5.png")" class="item-image">
                <img class="img-responsive" src="@Url.Content("~/Content/images/products/sp5.png")" alt="" />
            </a>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="box-content thumbnail text-center">
            <a href="@Url.Content("~/Content/images/products/sp1.png")" class="item-image">
                <img class="img-responsive" src="@Url.Content("~/Content/images/products/sp1.png")" alt="" />
            </a>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="box-content thumbnail text-center">
            <a href="@Url.Content("~/Content/images/products/sp4.png")" class="item-image">
                <img class="img-responsive" src="@Url.Content("~/Content/images/products/sp4.png")" alt="" />
            </a>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="box-content thumbnail text-center">
            <a href="@Url.Content("~/Content/images/products/sp5.png")" class="item-image">
                <img class="img-responsive" src="@Url.Content("~/Content/images/products/sp5.png")" alt="" />
            </a>
        </div>
    </div>

</div>

<h2 class="owl-featured margin-bottom-30 margin-top20"><strong>ALBUM NỮ TRANG</strong></h2>

<div class="row lightbox" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

    <div class="col-sm-3 col-md-3">
        <div class="box-content thumbnail text-center">
            <a href="@Url.Content("~/Content/images/products/sp1.png")" class="item-image">
                <img class="img-responsive" src="@Url.Content("~/Content/images/products/sp1.png")" alt="" />
            </a>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="box-content thumbnail text-center">
            <a href="@Url.Content("~/Content/images/products/sp3.png")" class="item-image">
                <img class="img-responsive" src="@Url.Content("~/Content/images/products/sp3.png")" alt="" />
            </a>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="box-content thumbnail text-center">
            <a href="@Url.Content("~/Content/images/products/sp5.png")" class="item-image">
                <img class="img-responsive" src="@Url.Content("~/Content/images/products/sp2.png")" alt="" />
            </a>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="box-content thumbnail text-center">
            <a href="@Url.Content("~/Content/images/products/sp4.png")" class="item-image">
                <img class="img-responsive" src="@Url.Content("~/Content/images/products/sp4.png")" alt="" />
            </a>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="box-content thumbnail text-center">
            <a href="@Url.Content("~/Content/images/products/sp5.png")" class="item-image">
                <img class="img-responsive" src="@Url.Content("~/Content/images/products/sp5.png")" alt="" />
            </a>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="box-content thumbnail text-center">
            <a href="@Url.Content("~/Content/images/products/sp1.png")" class="item-image">
                <img class="img-responsive" src="@Url.Content("~/Content/images/products/sp1.png")" alt="" />
            </a>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="box-content thumbnail text-center">
            <a href="@Url.Content("~/Content/images/products/sp4.png")" class="item-image">
                <img class="img-responsive" src="@Url.Content("~/Content/images/products/sp4.png")" alt="" />
            </a>
        </div>
    </div>

    <div class="col-sm-3 col-md-3">
        <div class="box-content thumbnail text-center">
            <a href="@Url.Content("~/Content/images/products/sp5.png")" class="item-image">
                <img class="img-responsive" src="@Url.Content("~/Content/images/products/sp5.png")" alt="" />
            </a>
        </div>
    </div>

</div>
