@model IEnumerable<W_GJS.Models.O_CUSTOMER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}

<h2>Danh sách</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER_CD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER_CODE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUSTOMER_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BIRTHDAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATEDATE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER_CD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER_CODE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUSTOMER_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BIRTHDAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATEDATE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @if (item.ACTIVE == false)
            {
                @Html.ActionLink("Active", "Active", new { CUSTOMER_CD = item.CUSTOMER_CD })
            }
            else
            {
                @Html.ActionLink("Deactive", "Deactive", new { CUSTOMER_CD = item.CUSTOMER_CD })
            }
        </td>
    </tr>
}

</table>
